.grpga.sheet.item {
  form {
    display: flex;
    flex-direction: column;
  }

  .sheet-body {
    height: 100%;
    display: flex;
    flex-direction: column;

    .tab {
      height: 100%;

      textarea {
        left: 10px;
        top: 10px;
        // width: calc(100% - 20px);
        /* calc and viewport to the rescue */
        height: calc(100% - 20px);
        resize: none;
      }

      .biography {
        display: grid;
        background-color: #a9a9a9c7;
        min-height: 300px;
        height: 100%;
        resize: none;
      }
    }

    hr {
      width: 100%;
    }
  }
}