.heroic,
.mnm,
.section {
  .Ubuntu(normal, small);
  display       : grid;
  grid-auto-rows: auto;
  border-radius : 5px;
  border        : 2px solid @main-colour ;

  .sectionheader {
    .roundedheader();

    .section-title {

      .title,
      a {
        border    : inherit;
        padding   : inherit;
        margin    : inherit;
        background: inherit;
      }

      .title {
        color: inherit;
      }
    }
  }

  .content {

    .nospan,
    .twospan,
    .threespan,
    .fourspan {
      .col4();

      .header {
        grid-column: span 4;
        .roundedheader();

        .section-title {

          .title,
          a {
            border    : inherit;
            padding   : inherit;
            margin    : inherit;
            background: inherit;
          }

          .title {
            color: inherit;
          }
        }
      }

      .entry {
        .rollablecard();
        .Ubuntu(bolder, smaller);
        align-items: baseline;
      }

      .trait {
        .roundedcard();
        .Ubuntu(bolder, smaller);
        align-items          : baseline;
        display              : grid;
        grid-template-columns: 24px 1fr 4fr;
      }

      .statentry {
        .statcard();
        .Ubuntu(bolder, smaller);
      }

      .attackentry {
        .attackcard();
        .Ubuntu(bolder, smaller);
      }

      .wound {
        .woundcard();
        .Ubuntu(bolder, smaller);
      }

      .subsection {

        .header {
          .roundedheader();
        }

        .entry {
          .rollablecard();
          .Ubuntu(bolder, smaller);
          align-items: baseline;
        }
      }

      .doublewide {
        grid-column: span 2;
        .rollablecard();
      }

      .notes {
        grid-column: span 2;
        .roundedcard();
      }

      .item.notes {
        display              : grid;
        grid-template-columns: 1fr 0fr;
      }

      .rankvariable,
      .poolstyle,
      .variable {
        display              : grid;
        grid-column          : span 2;
        grid-template-columns: auto 1fr 36px;
        .Ubuntu(bolder, smaller);
        .roundedcard();
        align-items: baseline;

        .value,
        .variablename {
          text-align: center;
        }

        .select {
          border         : none;
          background     : none;
          height         : auto;
          text-align-last: right;
          color          : gray;
          font-size      : inherit;
          font-weight    : bold;
        }
      }

      .rankvariable {
        grid-template-columns: auto 1fr;
      }

      .poolstyle {
        grid-template-columns: auto 48px 48px;

        .value {
          height    : auto;
          background: none;
        }
      }
    }

    .threespan {
      .col3();

      .header {
        grid-column: span 3;
      }

      .variable,
      .poolstyle {
        grid-column: span 1;
      }
    }

    .twospan {
      .col2();

      .header {
        grid-column: span 2;
      }
    }

    .nospan {
      .col1();

      .header {
        grid-column: span 1;
      }
    }

    .biography {
      min-height: 300px;
      resize    : none;
    }
  }
}

textarea {
  background-color: #a9a9a9;
}

.heroic,
.mnm {
  .content {

    .nospan,
    .twospan,
    .threespan,
    .fourspan {

      .item.notes,
      .variable,
      .poolstyle,
      .attackentry,
      .rankvariable,
      .entry {
        .Ubuntu(normal, small);
        background-color: #a9a9a9;
        border-color    : black;
      }

      .entry {
        display              : grid;
        grid-template-columns: 1fr 56px 16px;
      }

      .entry.inEffect {
        background-color: #66ff66;
      }

      .advantage {
        .roundedcard();
        align-items     : baseline;
        border-color    : black;
        background-color: #a9a9a9;

        .toprow {
          display              : grid;
          grid-template-columns: 60% 10% 20% 10%;
          color                : darkgreen;
          text-shadow          : 0 0 10px darkgray;
        }

        .description {
          text-align: left;
        }
      }

      .personal {
        .roundedcard();
        display              : grid;
        grid-template-columns: auto 1fr;
        background-color     : #a9a9a9;

        .value {
          height    : auto;
          background: none;
          text-align: center;
          border    : none;
        }
      }

      .personal.full {
        grid-column: span 3;
      }
    }

    .nospan.biography {
      background-color: #a9a9a9;
    }
  }
}

.detail-title.roundedcard {
  font-weight: bold;
}

.detail-title.roundedcard.Blue {
  background-color: #8888ff;
}

.detail-title.roundedcard.White {
  background-color: white;
}

.detail-title.roundedcard.Green {
  background-color: #66ff66;
}

.detail-title.roundedcard.Yellow {
  background-color: yellow;
}

.detail-title.roundedcard.Red {
  background-color: indianred;
}