{{#if (or (eq mode "d100") (eq mode "d120"))}}
<div class="global-modifier poolstyle">
    {{~localize 'local.actor.gmod.name'~}}
    :<input class="value iteminput" type="text" value="{{actor.system.gmod.value}}" data-dtype="Number"
        data-name="system.gmod.value" data-abbr="{{localize 'local.actor.gmod.abbr'}}" />
</div>
{{else}}
<div class="global-modifier minus-content-plus">
    <span class="far fa-minus-square minus"><input type="hidden" name="gmod" value=-1 /></span>
    <label for="system.gmod.value" name="system.gmod.value" class="counter">{{actor.system.gmod.value}}</label>
    <span class="far fa-plus-square plus"><input type="hidden" name="gmod" value=1 /></span>
    <label title="{{localize 'local.actor.gmod.name'}}">{{localize "local.actor.gmod.abbr"}}</label>
</div>
{{/if}}