<div class="{{size}} item-list">
    {{#each data as |item|}}
    {{#unless item.system.alwaysOn}}
    <div class="item modifier{{#if item.system.inEffect}} inEffect{{/if}} {{item.system.group}}" data-item-id="{{item._id}}" title="{{item.system.notes}}">
        <label class="item-toggle draggable">{{item.name}}</label>
    </div>
    {{/unless}}
    {{/each}}
</div>
