<table class="reactionrollscombattable">
    <tbody>
    <tr class="tableheaderrow">
    <td class="roll">Roll</td>
    <td class="outcome">Disposition</td>
    <td class="resultdescription">Combat</td>
    </tr>
    <tr class="tablerow rollable" data-type="reactionrolls" data-table="3.4 Reaction Rolls (Combat) Table" data-roll="0 or less" data-result="Very Unfavourable">
    <td class="roll">0 or less</td>
    <td class="outcome">Very Unfavourable</td>
    <td class="resultdescription">The NPCs are out for the heroes' blood. If they're already engaged in combat, they'll continue to fight viciously even if they're outnumbered or badly wounded. Otherwise, they'll immediately attack the PCs.</td>
    </tr>
    <tr class="tablerow rollable" data-type="reactionrolls" data-table="3.4 Reaction Rolls (Combat) Table" data-roll="01-25" data-result="Unfavourable">
    <td class="roll">01-25</td>
    <td class="outcome">Unfavourable</td>
    <td class="resultdescription">The NPCs are confident in their abilities. They'll keep aggressively fighting the heroes if they're already engaged in combat and will probably attack them even if they aren't.</td>
    </tr>
    <tr class="tablerow rollable" data-type="reactionrolls" data-table="3.4 Reaction Rolls (Combat) Table" data-roll="26-75" data-result="Neutral">
    <td class="roll">26-75</td>
    <td class="outcome">Neutral</td>
    <td class="resultdescription">The NPCs are still gauging their opponents. They'll keep fighting if engaged in combat (possibly selecting the least threatening target in sight) but won't otherwise attack unless provoked.</td>
    </tr>
    <tr class="tablerow rollable" data-type="reactionrolls" data-table="3.4 Reaction Rolls (Combat) Table" data-roll="76-100" data-result="Favourable">
    <td class="roll">76-100</td>
    <td class="outcome">Favourable</td>
    <td class="resultdescription">The NPCs' confidence is shaken and they'll start fighting more defensively. They'll carefully retreat if allowed to and will consider surrender if offered fair conditions.</td>
    </tr>
    <tr class="tablerow rollable" data-type="reactionrolls" data-table="3.4 Reaction Rolls (Combat) Table" data-roll="101 or more" data-result="Very Favourable">
    <td class="roll">101 or more</td>
    <td class="outcome">Very Favourable</td>
    <td class="resultdescription">The NPCs are terrified by the heroes' display of martial might and will surrender or flee for their lives.</td>
    </tr>
    </tbody>
    </table>