{{log "Actor Heroic Sheet: " this}}

<form class="{{cssClass}}" autocomplete="off">
  <div id="sheet">
    <header class="heroic-header sticky">
      <div class="sectionheader collapsible char-name" data-section="header">
        <input class="actorname" name="name" type="text" value="{{actor.name}}"
          placeholder="{{localize 'local.phrases.mnm.name'}}" />
      </div>
      <div class="content" style="display: {{system.sections.header}}">
        <div class="layout">
          <div class="portrait">
            <img class="portrait" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
          </div>
          {{#with system.headerinfo as |item|}}
          <div class="toprow">

            <div class="headinfo single" title="Identity">
              <input class="valuefull iteminput" data-name="system.personal.identity" type="text"
                value="{{../actor.system.personal.identity}}" />
            </div>

            <div class="headinfo single {{slugify ../actor.system.personal.origin}}" title="Origin">
              <select class="value select iteminput" data-name="system.personal.origin">
                {{selectOptions item.originchoices selected=../actor.system.personal.origin localize=false}}
              </select>
            </div>

            <div class="headinfo single {{slugify ../actor.system.personal.side}}" title="Side">
              <select class="value select iteminput" data-name="system.personal.side">
                {{selectOptions item.sidechoices selected=../actor.system.personal.side localize=false}}
              </select>
            </div>

            <div class="headinfo single {{slugify ../actor.system.campaign}}" title="Campaign Level">
              <select class="value select iteminput" data-name="system.campaign">
                {{selectOptions item.campaignchoices selected=../actor.system.campaign localize=false}}
              </select>
            </div>

          </div>
          <div class="midrow">

            <div class="headinfo single" title="Calling">
              <input class="valuefull iteminput" data-name="system.personal.calling" type="text"
                value="{{../actor.system.personal.calling}}" />
            </div>

            <div class="headinfo double">
              <label>APR:</label>
              <label>{{item.apr}}</label>
            </div>

            <div class="headinfo double">
              <label>Init:</label>
              <label>{{item.initiative}}</label>
            </div>

            <div class="headinfo single {{slugify ../actor.system.status}}" title="Actor Status">
              <select class="value select iteminput" data-name="system.status">
                {{selectOptions item.statuschoices selected=../actor.system.status localize=false}}
              </select>
            </div>

          </div>
          <div class="bottomrow">

            <div class="headinfo single" title="Description">
              <input class="valuefull iteminput" data-name="system.personal.description" type="text"
                value="{{../actor.system.personal.description}}" />
            </div>

            <div class="headinfo single" title="Admin Mode">
              <input class="valuefull" type="checkbox" name="system.adminMode" {{checked ../system.adminMode}}
                data-dtype="Boolean" />
            </div>

          </div>
          {{/with}}
        </div>
      </div>

      {{!-- Sheet Tab Navigation --}}
      <nav class="sheet-nav tabs" data-group="primary">
        <a class="tabtitle" data-tab="main">{{localize 'local.tabs.heroic.main'}}</a>
        <a class="tabtitle" data-tab="combat">{{localize 'local.tabs.heroic.combat'}}</a>
        <a class="tabtitle" data-tab="skills">{{localize 'local.tabs.heroic.skills'}}</a>
        {{#if system.adminMode}}
        <a class="tabtitle" data-tab="items">{{localize 'local.tabs.items'}}</a>
        <a class="tabtitle" data-tab="scripts">{{localize 'local.tabs.scripts.title'}}</a>
        {{/if}}
      </nav>
    </header>
    <hr>

    {{!-- Sheet Body --}}
    <section id="tabs" class="sheet-body">

      {{!-- Attributes & Personal Tab --}}
      <div class="tab main" data-tab="main" data-group="primary">

        <div class="section">
          <div class="sectionheader collapsible" data-section="spells">
            <label>{{localize 'local.sections.heroic.primaryattributes'}}</label>
          </div>
          <div class="content" style="display: {{system.sections.spells}}">

            <div class="fourspan item-list">
              {{#each system.primaryattributes as |item|}}
              <div class="item entry" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="item-edit draggable"> {{~item.name~}} </label>
                <label>[{{item.system.display}}]</label>
                <label></label>
              </div>
              {{/each}}
            </div>

            <div class="threespan item-list">
              {{#each system.primods as |item|}}
              {{#unless item.system.alwaysOn}}
              <div class="item modifier{{#if item.system.inEffect}} inEffect{{/if}}" data-item-id="{{item._id}}"
                title="{{item.system.notes}}">
                <label class="item-toggle draggable">{{item.name}}</label>
              </div>
              {{/unless}}
              {{/each}}
            </div>
          </div>
        </div>

        <hr>

        <div class="section">
          <div class="sectionheader collapsible" data-section="spellLores">
            <label>{{localize 'local.sections.pools'}}</label>
          </div>
          <div class="content" style="display: {{system.sections.spellLores}}">

            <div class="threespan item-list">
              {{#each system.pools as |item|}}
              <div class="item poolstyle" title="{{item.system.notes}}" data-item-id="{{item._id}}">
                <label class="poolname item-edit draggable">{{item.name}}:</label>
                <input class="value iteminput pool" type="text" value="{{item.system.value}}" data-dtype="Number"
                  data-name="system.value" data-abbr="{{item.system.abbr}}" />
                <span>/ {{item.system.max}}</span>
              </div>
              {{/each}}
            </div>

            <div class="fourspan item-list">
              <div class="header">
                <label>{{localize 'local.sections.variables'}}</label>
              </div>
              {{#each system.variables as |item|}}
              <div class="item rankvariable" title="{{item.system.notes}}" data-item-id="{{item._id}}">
                <label class="variablename item-edit draggable">{{item.name}}</label>
                <select class="select iteminput" data-name="system.label">
                  {{selectOptions item.system.entries selected=item.system.label valueAttr="label" labelAttr="label"
                  localize=false}}
                </select>
              </div>
              {{/each}}
            </div>
          </div>
        </div>
        <hr>

        <div class="section">
          <div class="sectionheader collapsible" data-section="disadvantages">
            <label>{{localize 'local.sections.mnm.personal'}}</label>
          </div>
          <div class="content" style="display: {{system.sections.disadvantages}}">
            <div class="threespan">
              <div class="personal">
                <span>Gender:</span>
                <input class="value" type="text" value="{{system.personal.gender}}" name="system.personal.gender" />
              </div>
              <div class="personal">
                <span>Age:</span>
                <input class="value" type="text" value="{{system.personal.age}}" name="system.personal.age" />
              </div>
              <div class="personal">
                <span>Height:</span>
                <input class="value" type="text" value="{{system.personal.height}}" name="system.personal.height" />
              </div>
              <div class="personal">
                <span>Weight:</span>
                <input class="value" type="text" value="{{system.personal.weight}}" name="system.personal.weight" />
              </div>
              <div class="personal">
                <span>Hair:</span>
                <input class="value" type="text" value="{{system.personal.hair}}" name="system.personal.hair" />
              </div>
              <div class="personal">
                <span>Eyes:</span>
                <input class="value" type="text" value="{{system.personal.eyes}}" name="system.personal.eyes" />
              </div>
            </div>
            {{#each system.traitsdisplay as |group|}}
            <div class="nospan item-list">
              <div class="header">
                <label>{{group.name}}</label>
              </div>
              {{#each group.items as |item|}}
              <div class="item notes {{item.system.group}}" data-item-id={{item._id}} title="{{item.system.notes}}">
                <label class="item-edit draggable"><b>{{item.name}}:</b> {{item.system.notes}}</label>
                <a class="rollable" data-name="{{item.name}}" data-roll="{{item.system.notes}}" data-type="tochat"> <i
                    class="fas fa-comment"></i> </a>
              </div>
              {{/each}}
            </div>
            {{/each}}
          </div>
        </div>

        <hr>

        <div class="section">
          <div class="sectionheader collapsible" data-section="notes">
            <label>{{localize 'local.sections.mnm.notes'}}</label>
          </div>
          <div class="content" style="display: {{system.sections.notes}}">
            <div class="nospan biography">
              <textarea class="biography" name="system.notes">{{system.notes}}</textarea>
            </div>
          </div>
        </div>

        <div class="section">
          <div class="sectionheader collapsible" data-section="notes">
            <label>{{localize 'local.sections.mnm.biography'}}</label>
          </div>
          <div class="content" style="display: {{system.sections.notes}}">

            <div class="nospan biography">
              {{editor system.biography target="system.biography" button=true owner=owner editable=editable}}
            </div>
          </div>
        </div>
      </div>

      {{!-- Powers Tab --}}
      <div class="tab skills" data-tab="skills" data-group="primary">
        <div class="section">
          <div class="sectionheader">
            <label>{{localize 'local.sections.mnm.powers'}}</label>
          </div>
          <div class="content" style="display: block">

            <div class="nospan item-list">
              {{#each system.mnmpowers as |item|}}
              <div class="item advantage" data-item-id="{{item._id}}">
                <div class="toprow">
                  <label class="item-edit draggable name"> {{item.name}} </label>
                  <label class="ranks">{{#unless (eq item.system.value 0)}}Rk: {{item.system.value}} {{/unless}}
                  </label>
                  <label class="category">{{item.system.category}}</label>
                  <label class="ppcost">PP: {{item.system.ppcost}}</label>
                </div>
                <label class="description">{{{item.system.notes}}}</label>
              </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>

      {{!-- Combat Tab --}}
      <div class="tab combat" data-tab="combat" data-group="primary">
        <div class="section">
          <div class="sectionheader collapsible" data-section="defences">
            <label>{{localize 'local.sections.heroic.parrys'}}</label>
          </div>
          <div class="content" style="display: {{system.sections.defences}}">

            <div class="threespan item-list">
              {{#each system.parrys as |item|}}
              <div class="item entry" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="draggable item-edit"> {{item.name}} </label>
                <div>
                  <label> {{item.system.display}} </label>
                  <label class="rollable" data-item-id="{{item._id}}" data-name="{{item.name}}"
                    data-roll="{{item.system.value}}" data-modtype="defence"
                    data-type="modlist">[{{item.system.moddedvalue}}]</label>
                </div>
                <a class="rollable" data-item-id="{{item._id}}" data-name="{{item.name}}"
                  data-roll="{{item.system.value}}" data-type="{{item.system.category}}"> <i
                    class="fas fa-dice-d20"></i> </a>
              </div>
              {{/each}}
              {{#each system.dodges as |item|}}
              <div class="item entry" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="draggable item-edit"> {{item.name}} </label>
                <div>
                  <label> {{item.system.display}} </label>
                  <label class="rollable" data-item-id="{{item._id}}" data-name="{{item.name}}"
                    data-roll="{{item.system.value}}" data-modtype="defence"
                    data-type="modlist">[{{item.system.moddedvalue}}]</label>
                </div>
                <a class="rollable" data-item-id="{{item._id}}" data-name="{{item.name}}"
                  data-roll="{{item.system.value}}" data-type="{{item.system.category}}"> <i
                    class="fas fa-dice-d20"></i> </a>
              </div>
              {{/each}}
            </div>

            <div class="threespan item-list">
              <div class="header">
                <label>{{localize 'local.sections.heroic.blocks'}}</label>
              </div>
              {{#each system.blocks as |item|}}
              <div class="item entry" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="draggable item-edit"> {{item.name}} </label>
                <div>
                  <label> {{item.system.display}} </label>
                  <label class="rollable" data-item-id="{{item._id}}" data-name="{{item.name}}"
                    data-roll="{{item.system.value}}" data-modtype="defence"
                    data-type="modlist">[{{item.system.moddedvalue}}]</label>
                </div>
                <a class="rollable" data-item-id="{{item._id}}" data-name="{{item.name}}"
                  data-roll="{{item.system.value}}" data-type="{{item.system.category}}"> <i
                    class="fas fa-dice-d20"></i> </a>
              </div>
              {{/each}}
            </div>
            <div class="fourspan item-list">
              {{#each system.defenceVariables as |item|}}
              {{#if (eq item.type "Variable")}}
              <div class="item variable" title="{{item.system.notes}}" data-item-id="{{item._id}}">
                <label class="variablename draggable item-edit">{{item.name}}</label>
                <select class="select iteminput" data-name="system.label">
                  {{selectOptions item.system.entries selected=item.system.label valueAttr="label" labelAttr="label"
                  localize=false}}
                </select>
                <label class="value"></label>
              </div>
              {{else}}
              <div class="item poolstyle" title="{{item.system.notes}}" data-item-id="{{item._id}}">
                <label class="poolname item-edit draggable">{{item.name}}:</label>
                <input class="value iteminput pool" type="text" value="{{item.system.value}}" data-dtype="Number"
                  data-name="system.value" data-abbr="{{item.system.abbr}}" />
                <span>/ {{item.system.max}}</span>
              </div>
              {{/if}}
              {{/each}}
            </div>

            <div class="threespan item-list">
              <div class="header">
                <label>{{localize 'local.sections.heroic.defencemods'}}</label>
              </div>
              {{> "systems/grpga/templates/partials/gmod.hbs" data=system}}
              {{#each system.defencemods as |item|}}
              {{#unless item.system.alwaysOn}}
              <div class="item modifier{{#if item.system.inEffect}} inEffect{{/if}}" data-item-id="{{item._id}}"
                title="{{item.system.notes}}">
                <label class="item-toggle draggable">{{item.name}}</label>
              </div>
              {{/unless}}
              {{/each}}
            </div>
          </div>
        </div>
        <hr>


        <div class="section">
          <div class="sectionheader collapsible" data-section="skills">
            <label>{{localize 'local.sections.heroic.rms'}}</label>
          </div>
          <div class="content" style="display: {{system.sections.skills}}">

            <div class="fourspan item-list">
              {{#each system.spellVariables as |item|}}
              {{#if (eq item.type "Variable")}}
              <div class="item variable" title="{{item.system.notes}}" data-item-id="{{item._id}}">
                <label class="variablename draggable item-edit">{{item.name}}</label>
                <select class="select iteminput" data-name="system.label">
                  {{selectOptions item.system.entries selected=item.system.label valueAttr="label" labelAttr="label"
                  localize=false}}
                </select>
                <label class="value"></label>
              </div>
              {{else}}
              <div class="item poolstyle" title="{{item.system.notes}}" data-item-id="{{item._id}}">
                <label class="poolname item-edit draggable">{{item.name}}:</label>
                <input class="value iteminput pool" type="text" value="{{item.system.value}}" data-dtype="Number"
                  data-name="system.value" data-abbr="{{item.system.abbr}}" />
                <span>/ {{item.system.max}}</span>
              </div>
              {{/if}}
              {{/each}}
            </div>
            <div class="threespan item-list">
              {{#each system.rms as |item|}}

              <div class="item entry" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="draggable item-edit"> {{item.name}} </label>
                <label class="rollable" data-item-id="{{item._id}}" data-name="{{item.name}}"
                  data-roll="{{item.system.value}}" data-modtype="spell"
                  data-type="modlist">[{{item.system.moddedvalue}}]</label>
                <a class="rollable" data-item-id="{{item._id}}" data-name="{{item.name}}"
                  data-roll="{{item.system.value}}" data-type="{{item.system.category}}"> <i
                    class="fas fa-dice-d20"></i> </a>
              </div>

              {{/each}}
            </div>

          </div>
        </div>
      </div>

      {{!-- Items Tab --}}
      <div class="tab items" data-tab="items" data-group="primary">
        {{!-- ITEM CREATION --}}
        <div class="section">
          <div class="content" style="display: block">
            <div class="threespan item-list">
              <div class="header">
                <label>{{localize 'local.sections.itemcreation'}}</label>
              </div>
              {{#each system.allitemstemp as |item|}}
              <div class="entry {{#if item.filtered}}inEffect{{/if}}">
                <label class="filter" data-type='{{item.name}}'>{{item.localname}}</label>
                <span></span>
                <a class="item-create" data-type='{{item.name}}'><i class="fas fa-plus"></i></a>
              </div>
              {{/each}}
            </div>

          </div>
        </div>
        <hr>
        <div class="section">
          <div class="sectionheader">
            <label>{{localize 'local.sections.itemlist'}}</label>
          </div>
          <div class="content" style="display: block">
            <div class="nospan owneditems item-list">
              {{#each filtereditems as |item|}}

              {{#if (eq item.type "Primary-Attribute")}}
              <div class="item owneditem ability" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="name draggable item-edit">{{item.name}}</label>
                <label class="type">{{item.type}}</label>
                <input class="value iteminput" type="text" data-dtype="String" data-name="system.group"
                  value="{{item.system.group}}" />
                <label class="value">{{item.system.attr}}</label>
              </div>
              {{else if (eq item.type "Modifier")}}
              <div class="item owneditem mod{{#if item.system.inEffect}} inEffect{{/if}}" data-item-id="{{item._id}}"
                title="{{item.system.notes}}">
                <label class="name draggable item-edit">{{item.name}}</label>
                <label class="type item-toggle">{{item.type}}</label>
                <input class="value iteminput" type="text" data-dtype="String" data-name="system.group"
                  value="{{item.system.group}}" />
                <div class="check" data-item-id="{{item._id}}">
                  <input class="value iteminput" type="checkbox" {{checked item.system.condition}} data-dtype="Boolean"
                    data-name="system.condition" />
                  <span> Cond</span>
                </div>
                {{#unless (or item.system.once item.system.temporary)}}
                <div class="check" data-item-id="{{item._id}}">
                  <input class="value iteminput" type="checkbox" {{checked item.system.alwaysOn}} data-dtype="Boolean"
                    data-name="system.alwaysOn" />
                  <span> Perm</span>
                </div>
                {{/unless}}
                {{#unless (or item.system.alwaysOn item.system.once)}}
                <div class="check" data-item-id="{{item._id}}">
                  <input class="value iteminput" type="checkbox" {{checked item.system.temporary}} data-dtype="Boolean"
                    data-name="system.temporary" />
                  <span> Temp</span>
                </div>
                {{/unless}}
                {{#unless (or item.system.alwaysOn item.system.temporary)}}
                <div class="check" data-item-id="{{item._id}}">
                  <input class="value iteminput" type="checkbox" {{checked item.system.once}} data-dtype="Boolean"
                    data-name="system.once" />
                  <span> Once</span>
                </div>
                {{/unless}}
              </div>
              {{else if (eq item.type "Variable")}}
              <div class="item owneditem var" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="name draggable item-edit">{{item.name}}</label>
                <label class="type">{{item.type}}</label>
                <input class="value iteminput" type="text" data-dtype="String" data-name="system.group"
                  value="{{item.system.group}}" />
                <select class="value select iteminput" data-name="system.label">
                  {{selectOptions item.system.entries selected=item.system.label valueAttr="label" labelAttr="label"
                  localize=false}}
                </select>
                {{#unless item.system.once}}
                <div class="check" data-item-id="{{item._id}}">
                  <input class="value iteminput" type="checkbox" {{checked item.system.temporary}} data-dtype="Boolean"
                    data-name="system.temporary" />
                  <span> Temp</span>
                </div>
                {{/unless}}
                {{#unless item.system.temporary}}
                <div class="check" data-item-id="{{item._id}}">
                  <input class="value iteminput" type="checkbox" {{checked item.system.once}} data-dtype="Boolean"
                    data-name="system.once" />
                  <span> Once</span>
                </div>
                {{/unless}}
              </div>
              {{else if (eq item.type "Trait")}}
              <div class="item owneditem trt" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="name draggable item-edit">{{item.name}}</label>
                <label class="type">{{item.type}} ({{item.system.category}})</label>
                <input class="value iteminput" type="text" data-dtype="String" data-name="system.group"
                  value="{{item.system.group}}" />
                <label class="snippet">{{item.system.notes}}</label>
              </div>
              {{else if (eq item.type "Power")}}
              <div class="item owneditem pwr" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="name draggable item-edit">{{item.name}}</label>
                <label class="type">{{item.type}} ({{item.system.category}})</label>
                <input class="value iteminput" type="text" data-dtype="String" data-name="system.group"
                  value="{{item.system.group}}" />
                <label class="snippet">{{item.system.notes}}</label>
              </div>
              {{else if (eq item.type "Advantage")}}
              <div class="item owneditem adv" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="name draggable item-edit">{{item.name}}</label>
                <label class="type">{{item.type}} ({{item.system.category}})</label>
                <input class="value iteminput" type="text" data-dtype="String" data-name="system.group"
                  value="{{item.system.group}}" />
                <label class="snippet">{{item.system.notes}}</label>
              </div>
              {{else if (eq item.type "Pool")}}
              <div class="item owneditem pool" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="name draggable item-edit">{{item.name}}</label>
                <label class="type">{{item.type}}</label>
                <input class="value iteminput" type="text" data-dtype="String" data-name="system.group"
                  value="{{item.system.group}}" />
                <input class="value iteminput" type="text" data-dtype="String" data-name="system.minForm"
                  value="{{item.system.minForm}}" />
                <input class="value iteminput" type="number" data-dtype="Number" data-name="system.value"
                  value="{{item.system.value}}" />
                <input class="value iteminput" type="text" data-dtype="String" data-name="system.maxForm"
                  value="{{item.system.maxForm}}" />
              </div>
              {{else if (or (eq item.type "Melee-Attack")(eq item.type "Ranged-Attack"))}}
              <div class="item owneditem attack" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="name draggable item-edit">{{item.name}}</label>
                <label class="type">{{item.type}}</label>
                <input class="value iteminput" type="text" data-dtype="String" data-name="system.group"
                  value="{{item.system.group}}" />
                <label class="value">{{item.system.formula}}</label>
              </div>
              {{else if (eq item.type "Rollable")}}
              <div class="item owneditem roll" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="name draggable item-edit">{{item.name}}</label>
                <label class="type">{{item.type}} ({{item.system.category}})</label>
                <input class="value iteminput" type="text" data-dtype="String" data-name="system.group"
                  value="{{item.system.group}}" />
                <label class="value">{{item.system.formula}}</label>
              </div>
              {{else if item.system.formula}}
              <div class="item owneditem" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="name draggable item-edit">{{item.name}}</label>
                <label class="type">{{item.type}}</label>
                <input class="value iteminput" type="text" data-dtype="String" data-name="system.group"
                  value="{{item.system.group}}" />
                <label class="value">{{item.system.formula}}</label>
              </div>
              {{else}} {{! Everything else }}
              <div class="item owneditem" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="name draggable item-edit">{{item.name}}</label>
                <label class="type">{{item.type}}</label>
                <input class="value iteminput" type="text" data-dtype="String" data-name="system.group"
                  value="{{item.system.group}}" />
                <label class="value">{{item.system.value}}</label>
              </div>
              {{/if}}
              {{/each}}
            </div>
          </div>
        </div>
      </div>

      {{!-- Scripts Tab --}}
      <div class="tab scripts" data-tab="scripts" data-group="primary">
        {{!-- Script Pane --}}
        <div id="baseitems">
          <div class="item-controls">
            <div>
              <a class="item-control item-create" title="{{localize 'local.tabs.scripts.createT'}}">
                <i class="fas fa-plus"></i> {{localize 'local.tabs.scripts.create'}}
              </a>
            </div>
            <div>
              <a class="item-control item-export" title="{{localize 'local.tabs.scripts.exportT'}}">
                <i class="fas fa-minus"></i> {{localize 'local.tabs.scripts.export'}}
              </a>
            </div>
            <div>
              <a class="item-control importXML" title="Import NPC data from XML.">
                <i class="fas fa-plus"></i> Import NPC in XML Format
              </a>
            </div>
            {{#if false}}
            <div>
              <a class="item-control importText" title="Import data from formatted text.">
                <i class="fas fa-plus"></i> Import Text Format
              </a>
            </div>
            <div>
              <a class="item-control importHeroLab" title="Import data from formatted text." type="hidden">
                <i class="fas fa-plus"></i> Import Hero Lab Format
              </a>
            </div>
            {{/if}}
          </div>
          <textarea rows="24" name="system.itemscript">{{actor.system.itemscript}}</textarea>
        </div>

      </div>
    </section>
    <script>
      $("input").focusin(function () {
        $(this).select();
      });
    </script>
</form>