{{log "Actor 3D6 Sheet: " this}}

<form class="{{cssClass}}" autocomplete="off">
  <div id="sheet">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
      <div class="portrait">
        <img class="portrait" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
      </div>

      <div class="actorname">
        <input class="actorname" name="name" type="text" value="{{actor.name}}"
          placeholder="{{localize 'local.actor.name'}}" />
      </div>

      <div class="posture" title="{{localize 'local.actor.posture.name'}}">
        <select class="posture" name="system.posture.value">
          {{selectOptions config.selectOptions.postures selected=system.posture.value valueAttr="value" labelAttr="label"
          localize=true}}
        </select>
      </div>

      <div class="initiative" title="{{localize 'local.actor.bs.3d6.name'}}">
        <label>{{localize 'local.actor.bs.3d6.abbr'}}</label>
        <input type="text" name="system.bs.value" value="{{actor.system.bs.value}}" data-dtype="Number" />
      </div>

      <!-- Movement -->
      <div class="movement" title="{{localize 'local.actor.bm.name'}}">
        <label title="{{localize 'local.actor.bm.3d6.stepT'}}">{{localize 'local.actor.bm.3d6.step'}} </label>
        <label title="{{localize 'local.actor.bm.3d6.quarterT'}}">{{localize 'local.actor.bm.3d6.quarter'}} </label>
        <label title="{{localize 'local.actor.bm.3d6.halfT'}}">{{localize 'local.actor.bm.3d6.half'}} </label>
        <label title="{{localize 'local.actor.bm.3d6.moveT'}}">{{localize 'local.actor.bm.3d6.move'}} </label>
        <label title="{{localize 'local.actor.bm.3d6.sprintT'}}">{{localize 'local.actor.bm.3d6.sprint'}} </label>
        <input type="text" name="system.bm.step" value="{{actor.system.bm.step}}" data-dtype="Number" />
        <input type="text" name="system.bm.quarter" value="{{actor.system.bm.quarter}}" data-dtype="Number" />
        <input type="text" name="system.bm.half" value="{{actor.system.bm.half}}" data-dtype="Number" />
        <input type="text" name="system.bm.move" value="{{actor.system.bm.move}}" data-dtype="Number" />
        <input type="text" name="system.bm.sprint" value="{{actor.system.bm.sprint}}" data-dtype="Number" />
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
      <a class="tabtitle" data-tab="stats">{{localize "local.tabs.main"}}</a>
      <a class="tabtitle" data-tab="combat">{{localize "local.tabs.combat"}}</a>
      <a class="tabtitle" data-tab="checks">{{localize "local.tabs.checks"}}</a>
      <a class="tabtitle" data-tab="skills">{{localize "local.tabs.skills"}}</a>
      <a class="tabtitle" data-tab="spells">{{localize "local.tabs.spells"}}</a>
      <a class="tabtitle" data-tab="items">{{localize "local.tabs.items"}}</a>
      <a class="tabtitle" data-tab="scripts">{{localize "local.tabs.scripts.title"}}</a>
    </nav>
    {{!-- Sheet Body --}}
    <section id="tabs" class="sheet-body">

      {{!-- Stats Tab --}}
      <div class="tab stats" data-tab="stats" data-group="primary">

        <!-- Pools -->
        {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "local.sections.pools") itemtype="Pool"
        sections="single"}}

        <!-- Tracked -->
        <div class="tracked item-list">
          {{#each system.pools as |item|}}
          <div class="trackedpool item {{item.system.group}}" title="{{item.name}}: {{item.system.notes}}"
            data-item-id="{{item._id}}">
            <label class="abbr draggable">{{item.system.abbr}} </label>
            <i class="far fa-plus-square plus"> <input class="pool" type="hidden" name="{{item.system.abbr}}" value=1 />
            </i>
            <i class="far fa-minus-square minus"> <input class="pool" type="hidden" name="{{item.system.abbr}}"
                value=-1 /> </i>

            <label class="valuelabel"> {{localize 'local.actor.pool.valuelabel'}} </label>
            <input class="value iteminput pool" type="text" value="{{item.system.value}}" data-dtype="Number"
              data-name="system.value" data-abbr="{{item.system.abbr}}" />

            <label class="maxlabel"> {{localize 'local.actor.pool.maxlabel'}} </label>
            <label class="max">{{item.system.max}} </label>
          </div>
          {{/each}}
        </div>
        {{!-- VARIABLES --}}
        {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "local.sections.variables")
        itemtype="Variable" sections="single"}}

        <div class="variables item-list">
          {{#each system.variables as |item|}}
          <div class="item variable {{item.system.group}}" title="{{item.system.notes}}" data-item-id="{{item._id}}">
            <label class="variablename draggable">{{item.name}}</label>
            <label class="value">{{item.system.value}}</label>
            <select class="select iteminput" data-name="system.label">
              {{selectOptions item.system.entries selected=item.system.label valueAttr="label" labelAttr="label"
              localize=false}}
            </select>
          </div>
          {{/each}}
        </div>

        {{!-- Biography Tab --}}
        <div class="biography">
          <p>{{localize "local.item.notes"}}</p>
          <textarea rows="13" name="system.biography">{{{system.biography}}}</textarea>
        </div>
        {{!-- FEATS --}}{{!-- ADVANTAGES --}}
        {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize 'local.sections.3d6.advantages') itemtype="Trait"
        category="advantage" sections="single"}}
        <div class="traits item-list">
          {{#each system.advantages as |item|}}
          <div class="trait item {{item.system.group}}" data-item-id="{{item._id}}">
            <label class="title">{{item.name}}</label>
            <label>{{item.system.notes}}</label>
          </div>
          {{/each}}
        </div>

        {{!-- WEAKNESSES --}}{{!-- DISADVANTAGES --}}
        {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize 'local.sections.3d6.disadvantages') itemtype="Trait"
        category="disadvantage" sections="single"}}
        <div class="traits item-list">
          {{#each system.disadvantages as |item|}}
          <div class="trait item {{item.system.group}}" data-item-id="{{item._id}}">
            <label class="title">{{item.name}}</label>
            <label>{{item.system.notes}}</label>
          </div>
          {{/each}}
        </div>

        {{!-- RACIAL ABILITIES --}}{{!-- PERKS --}}
        {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize 'local.sections.3d6.perks') itemtype="Trait"
        category="perk" sections="single"}}
        <div class="traits item-list">
          {{#each system.perks as |item|}}
          <div class="trait item {{item.system.group}}" data-item-id="{{item._id}}">
            <label class="title">{{item.name}}</label>
            <label>{{item.system.notes}}</label>
          </div>
          {{/each}}
        </div>

        {{!-- CLASS ABILITIES --}}{{!-- QUIRKS --}}
        {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize 'local.sections.3d6.quirks') itemtype="Trait"
        category="quirk" sections="single"}}
        <div class="traits item-list">
          {{#each system.quirks as |item|}}
          <div class="trait item {{item.system.group}}" data-item-id="{{item._id}}">
            <label class="title">{{item.name}}</label>
            <label>{{item.system.notes}}</label>
          </div>
          {{/each}}
        </div>
      </div>

      {{!-- Combat Tab --}}
      <div class="tab combat" data-tab="combat" data-group="primary">

        {{!-- DEFENCES --}}
        {{!-- DEFENCE MODIFIERS --}}
        {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "local.sections.3d6.defences")
        itemtype="Defence" secondlabel=(localize "local.sections.defencemods") seconditemtype="Modifier"
        sections="double" mod2="defence"}}

        <div class="defencemods item-list">
          <!-- The Global Modifier applies to every roll and then is reset -->
          {{> "systems/grpga/templates/partials/gmod.hbs" data=system}}
          {{> "systems/grpga/templates/partials/modifiers.hbs" data=system.defencemods}}
        </div>

        {{!-- DEFENCES --}}
        <div class="defences item-list">
          {{#each system.defences as |item|}}
          <div class="item defence {{item.system.group}}" data-item-id="{{item._id}}" title="{{item.system.notes}}">
            <label class="draggable rollable" data-item-id="{{item._id}}" data-name="{{item.name}}"
              data-roll="{{numberFormat item.system.value decimals=0}}" data-type="defence">
              [{{numberFormat item.system.moddedvalue decimals=0}}] {{item.name}}
            </label>
          </div>
          {{/each}}

        </div>

        {{!-- ATTACKS --}}
        {{!-- ATTACK MODIFIERS --}} {{!-- DAMAGE MODIFIERS --}}
        {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "local.sections.attackmods")
        secondlabel=(localize "local.sections.damagemods") itemtype="Modifier" sections="mixed" mod1="attack"
        mod2="damage"}}
        <div class="attackmods">
          {{> "systems/grpga/templates/partials/modifiers.hbs" data=system.attackdamagemods}}
        </div>

        {{!-- MELEE ATTACKS --}} {{!-- RANGED ATTACKS --}}
        {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "local.sections.melee")
        secondlabel=(localize "local.sections.ranged") itemtype="Melee-Attack" seconditemtype="Ranged-Attack"
        sections="double" mod1="" mod2=""}}

        <div class="attacks item-list">
          {{#each system.attacks as |item|}}
          <div class="item attack {{#if (eq item.type 'Melee-Attack')}}melee{{else}}ranged{{/if}} {{item.system.group}}"
            data-item-id="{{item._id}}" title="{{item.system.notes}}">
            <label class="chatrender attackname draggable">{{item.name}}</label>
            <label class="rollable skill" data-name="{{item.name}}"
              data-roll="{{numberFormat item.system.value decimals=0}}" data-type="attack">
              Eff Skill: [{{numberFormat item.system.moddedvalue decimals=0}}]
            </label>
            <label class="rollable damage" data-name="{{item.name}}" data-roll="{{item.system.damage}}"
              data-damageType="{{item.system.damageType}}" data-armourDiv="{{item.system.armourDiv}}"
              data-type="damage">
              Dmg: {{item.system.damage}} {{item.system.damageType}}
            </label>
          </div>
          {{/each}}
        </div>
      </div>

      {{!-- Checks Tab --}}
      <div class="tab checks" data-tab="checks" data-group="primary">

        {{!-- PRIMARY ATTRIBUTES --}}
        {{!-- PRIMARY ATTRIBUTE MODIFIERS --}}
        {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "local.sections.primods")
        itemtype="Modifier" sections="single" mod1="primary"}}
        <div class="primarymods">
          <!-- The Global Modifier applies to every roll and then is reset -->
          {{> "systems/grpga/templates/partials/gmod.hbs" data=system}}
          {{> "systems/grpga/templates/partials/modifiers.hbs" data=system.primods}}
        </div>

        {{!-- PRIMARY ATTRIBUTES --}}
        {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "local.sections.primaryattributes")
        itemtype="Primary-Attribute" sections="single"}}
        <div class="primaries item-list">
          {{#each system.primaryattributes as |item|}}
          <div class="item primary {{item.system.group}}" data-item-id="{{item._id}}" title="{{item.system.notes}}">
            <label class="draggable rollable" data-item-id="{{item._id}}" data-name="{{item.name}}"
              data-roll="{{item.system.value}}" data-type="check">
              [{{item.system.value}}] {{item.name}}
            </label>
          </div>
          {{/each}}
        </div>

        {{!-- CHECKS --}}
        {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "local.sections.checkmods")
        itemtype="Modifier" sections="single" mod1="check"}}
        <div class="checkmods">
          {{> "systems/grpga/templates/partials/modifiers.hbs" data=system.checkmods}}
          {{> "systems/grpga/templates/partials/modifiers.hbs" data=system.checkspec}}
        </div>

        {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "local.sections.3d6.checks")
        itemtype="Rollable" category="check" sections="single"}}
        <div class="checks item-list">
          {{#each system.checks as |item|}}
          <div class="item check {{item.system.group}}" data-item-id="{{item._id}}" title="{{item.system.notes}}">
            <label class="draggable rollable" data-item-id="{{item._id}}" data-name="{{item.name}}"
              data-roll="{{numberFormat item.system.value decimals=0}}" data-type="check">
              [{{numberFormat item.system.moddedvalue decimals=0}}] {{item.name}}
            </label>
          </div>
          {{/each}}
        </div>
      </div>

      {{!-- Skills Tab --}}
      <div class="tab skills" data-tab="skills" data-group="primary">
        {{!-- SKILL MODIFIERS --}}
        {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "local.sections.skillmods")
        itemtype="Modifier" sections="single" mod1="skill"}}
        <div class="skillmods item-list">
          <!-- The Global Modifier applies to every roll and then is reset -->
          {{> "systems/grpga/templates/partials/gmod.hbs" data=system}}
          {{> "systems/grpga/templates/partials/modifiers.hbs" data=system.skillmods}}
          {{> "systems/grpga/templates/partials/modifiers.hbs" data=system.skillspec}}
        </div>

        {{!-- SKILLS --}}{{!-- TECHNIQUES --}}
        {{> "systems/grpga/templates/partials/sectiontitles.hbs" sections="double" label=(localize
        "local.sections.skills") itemtype="Rollable" category="skill" secondlabel=(localize "local.sections.techniques")
        seconditemtype="Rollable" secondcategory="technique"}}
        <div class="skills item-list">
          {{#each system.skills as |item|}}
          <div class="item skill {{item.system.group}}" data-item-id="{{item._id}}" title="{{item.system.notes}}">
            <label class="draggable rollable" data-item-id="{{item._id}}" data-name="{{item.name}}"
              data-roll="{{numberFormat item.system.value decimals=0}}" data-type="skill" data-rollType="oe">
              [{{numberFormat item.system.moddedvalue decimals=0}}] {{item.name}}
            </label>
          </div>
          {{/each}}
        </div>
        <div class="skills item-list">
          {{#each system.techniques as |item|}}
          <div class="item skill {{item.system.group}}" data-item-id="{{item._id}}" title="{{item.system.notes}}">
            <label class="draggable rollable" data-item-id="{{item._id}}" data-name="{{item.name}}"
              data-roll="{{numberFormat item.system.value decimals=0}}" data-type="skill" data-rollType="oe">
              [{{numberFormat item.system.moddedvalue decimals=0}}] {{item.name}}
            </label>
          </div>
          {{/each}}
        </div>
      </div>

      {{!-- Spells Tab --}}
      <div class="tab spells" data-tab="spells" data-group="primary">
        {{!-- SPELL MODIFIERS (probably none for d20) --}}
        {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "local.sections.spellmods")
        itemtype="Modifier" sections="single" mod1="spell"}}
        <div class="spellmods item-list">
          <!-- The Global Modifier applies to every roll and then is reset -->
          {{> "systems/grpga/templates/partials/gmod.hbs" data=system}}
          {{> "systems/grpga/templates/partials/modifiers.hbs" data=system.spellmods}}
          {{> "systems/grpga/templates/partials/modifiers.hbs" data=system.spellspec}}
        </div>

        {{!-- SPELLS --}}{{!-- RITUAL MAGIC SPELLS --}}
        {{> "systems/grpga/templates/partials/sectiontitles.hbs" sections="double" label=(localize
        "local.sections.spells") itemtype="Rollable" category="spell" secondlabel=(localize "local.sections.rms")
        seconditemtype="Rollable" secondcategory="rms"}}

        <div class="spells item-list">
          {{#each system.spells as |item|}}
          <div class="item spell {{item.system.group}}" data-item-id="{{item._id}}" title="{{item.system.notes}}">
            <label class="draggable rollable" data-item-id="{{item._id}}" data-name="{{item.name}}"
              data-roll="{{numberFormat item.system.value decimals=0}}" data-details="{{item.system.notes}}"
              data-type="spell" data-rollType="oe">
              [{{numberFormat item.system.moddedvalue decimals=0}}] {{item.name}}
            </label>
          </div>
          {{/each}}
        </div>
        <div class="spells item-list">
          {{#each system.rms as |item|}}
          <div class="item spell {{item.system.group}}" data-item-id="{{item._id}}" title="{{item.system.notes}}">
            <label class="draggable rollable" data-item-id="{{item._id}}" data-name="{{item.name}}"
              data-roll="{{numberFormat item.system.value decimals=0}}" data-details="{{item.system.notes}}"
              data-type="spell" data-rollType="oe">
              [{{numberFormat item.system.moddedvalue decimals=0}}] {{item.name}}
            </label>
          </div>
          {{/each}}
        </div>
      </div>

      {{!-- Owned Items Tab --}}
      <div class="tab items" data-tab="items" data-group="primary">

        {{!-- ITEM CREATION --}}
        <div class="section">
          <div class="content" style="display: block">
            <div class="threespan item-list">
              <div class="header">
                <label>{{localize "local.sections.itemcreation"}}</label>
              </div>
              {{#each system.allitemstemp as |item|}}
              <div class="entry {{#if item.filtered}}inEffect{{/if}}">
                <label class="filter" data-type='{{item.name}}'>{{item.localname}}</label>
                <span></span>
                <a class="item-create" data-type='{{item.name}}'><i class="fas fa-plus"></i></a>
              </div>
              {{/each}}
            </div>

          </div>
        </div>
        <hr>
        <div class="section">
          <div class="sectionheader">
            <label>{{localize "local.sections.itemlist"}}</label>
          </div>
          <div class="content" style="display: block">
            <div class="nospan owneditems item-list">
              {{#each filtereditems as |item|}}

              {{#if (eq item.type "Primary-Attribute")}}
              <div class="item owneditem ability" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="name draggable item-edit">{{item.name}}</label>
                <label class="type">{{item.type}}</label>
                <input class="value iteminput" type="text" data-dtype="String" data-name="system.group"
                  value="{{item.system.group}}" />
                <label class="value">{{item.system.attr}}</label>
              </div>
              {{else if (eq item.type "Modifier")}}
              <div class="item owneditem mod{{#if item.system.inEffect}} inEffect{{/if}}" data-item-id="{{item._id}}"
                title="{{item.system.notes}}">
                <label class="name draggable item-edit">{{item.name}}</label>
                <label class="type item-toggle">{{item.type}}</label>
                <input class="value iteminput" type="text" data-dtype="String" data-name="system.group"
                  value="{{item.system.group}}" />
                <div class="check" data-item-id="{{item._id}}">
                  <input class="value iteminput" type="checkbox" {{checked item.system.condition}} data-dtype="Boolean"
                    data-name="system.condition" />
                  <span> Cond</span>
                </div>
                {{#unless (or item.system.once item.system.temporary)}}
                <div class="check" data-item-id="{{item._id}}">
                  <input class="value iteminput" type="checkbox" {{checked item.system.alwaysOn}} data-dtype="Boolean"
                    data-name="system.alwaysOn" />
                  <span> Perm</span>
                </div>
                {{/unless}}
                {{#unless (or item.system.alwaysOn item.system.once)}}
                <div class="check" data-item-id="{{item._id}}">
                  <input class="value iteminput" type="checkbox" {{checked item.system.temporary}} data-dtype="Boolean"
                    data-name="system.temporary" />
                  <span> Temp</span>
                </div>
                {{/unless}}
                {{#unless (or item.system.alwaysOn item.system.temporary)}}
                <div class="check" data-item-id="{{item._id}}">
                  <input class="value iteminput" type="checkbox" {{checked item.system.once}} data-dtype="Boolean"
                    data-name="system.once" />
                  <span> Once</span>
                </div>
                {{/unless}}
              </div>
              {{else if (eq item.type "Variable")}}
              <div class="item owneditem var" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="name draggable item-edit">{{item.name}}</label>
                <label class="type">{{item.type}}</label>
                <input class="value iteminput" type="text" data-dtype="String" data-name="system.group"
                  value="{{item.system.group}}" />
                <select class="value select iteminput" data-name="system.label">
                  {{selectOptions item.system.entries selected=item.system.label valueAttr="label" labelAttr="label"
                  localize=false}}
                </select>
                {{#unless item.system.once}}
                <div class="check" data-item-id="{{item._id}}">
                  <input class="value iteminput" type="checkbox" {{checked item.system.temporary}} data-dtype="Boolean"
                    data-name="system.temporary" />
                  <span> Temp</span>
                </div>
                {{/unless}}
                {{#unless item.system.temporary}}
                <div class="check" data-item-id="{{item._id}}">
                  <input class="value iteminput" type="checkbox" {{checked item.system.once}} data-dtype="Boolean"
                    data-name="system.once" />
                  <span> Once</span>
                </div>
                {{/unless}}
              </div>
              {{else if (eq item.type "Trait")}}
              <div class="item owneditem trt" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="name draggable item-edit">{{item.name}}</label>
                <label class="type">{{item.type}} ({{item.system.category}})</label>
                <input class="value iteminput" type="text" data-dtype="String" data-name="system.group"
                  value="{{item.system.group}}" />
                <label class="snippet">{{item.system.notes}}</label>
              </div>
              {{else if (eq item.type "Pool")}}
              <div class="item owneditem pool" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="name draggable item-edit">{{item.name}}</label>
                <label class="type">{{item.type}}</label>
                <input class="value iteminput" type="text" data-dtype="String" data-name="system.group"
                  value="{{item.system.group}}" />
                <input class="value iteminput" type="text" data-dtype="String" data-name="system.minForm"
                  value="{{item.system.minForm}}" />
                <input class="value iteminput" type="number" data-dtype="Number" data-name="system.value"
                  value="{{item.system.value}}" />
                <input class="value iteminput" type="text" data-dtype="String" data-name="system.maxForm"
                  value="{{item.system.maxForm}}" />
              </div>
              {{else if (or (eq item.type "Melee-Attack")(eq item.type "Ranged-Attack"))}}
              <div class="item owneditem attack" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="name draggable item-edit">{{item.name}}</label>
                <label class="type">{{item.type}}</label>
                <input class="value iteminput" type="text" data-dtype="String" data-name="system.group"
                  value="{{item.system.group}}" />
                <label class="value">{{item.system.formula}}</label>
              </div>
              {{else if (eq item.type "Rollable")}}
              <div class="item owneditem roll" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="name draggable item-edit">{{item.name}}</label>
                <label class="type">{{item.type}} ({{item.system.category}})</label>
                <input class="value iteminput" type="text" data-dtype="String" data-name="system.group"
                  value="{{item.system.group}}" />
                <label class="value">{{item.system.formula}}</label>
              </div>
              {{else if item.system.formula}}
              <div class="item owneditem" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="name draggable item-edit">{{item.name}}</label>
                <label class="type">{{item.type}}</label>
                <input class="value iteminput" type="text" data-dtype="String" data-name="system.group"
                  value="{{item.system.group}}" />
                <label class="value">{{item.system.formula}}</label>
              </div>
              {{else}} {{! Everything else }}
              <div class="item owneditem" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="name draggable item-edit">{{item.name}}</label>
                <label class="type">{{item.type}}</label>
                <input class="value iteminput" type="text" data-dtype="String" data-name="system.group"
                  value="{{item.system.group}}" />
                <label class="value">{{item.system.value}}</label>
              </div>
              {{/if}}
              {{/each}}
            </div>
          </div>
        </div>
      </div>

      {{!-- Script Engine Tab --}}
      <div class="tab scripts" data-tab="scripts" data-group="primary">

        {{!-- Script Pane --}}
        <div id="baseitems">
          <div class="item-controls">
            <div>
              <a class="item-control item-create" title="{{localize 'local.tabs.scripts.createT'}}">
                <i class="fas fa-plus"></i> {{localize "local.tabs.scripts.create"}}
              </a>
            </div>
            <div>
              <a class="item-control item-export" title="{{localize 'local.tabs.scripts.exportT'}}">
                <i class="fas fa-minus"></i> {{localize "local.tabs.scripts.export"}}
              </a>
            </div>
            <div>
              <a class="item-control importJSON" title="Import JSON object for inspection in the console">
                <i class="fas fa-plus"></i> Import JSON data for inspection in the console
              </a>
            </div>
            <!--div>
              <a class="item-control importGCS" title="Import actor from GCS">
                <i class="fas fa-plus"></i> Import GCS Format
              </a>
            </div-->
          </div>
          <textarea rows="24" name="system.itemscript">{{{actor.system.itemscript}}}</textarea>
        </div>

      </div>
    </section>
  </div>
  <script>
    $("input").focusin(function () {
      $(this).select();
    });
  </script>
</form>