{{log "Actor D100 Sheet: " this}}

<form class="{{cssClass}}" autocomplete="off">
  <div id="sheet">

    {{!-- Sheet Header --}}
    <header class="d100-header">
      <div class="sectionheader collapsible char-name" data-section="header">
        <input class="actorname" name="name" type="text" value="{{actor.name}}"
          placeholder="{{localize 'local.actor.name'}}" />
      </div>
      <div class="content" style="display: {{system.sections.header}}">
        <div class="layout">
          <div class="portrait">
            <img class="portrait" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
          </div>
          {{#with system.headerinfo as |header|}}
          <div class="toprow">
            {{#with header.race as |item|}}
            <div class="headinfo single item" data-item-id="{{item._id}}" title="{{item.system.notes}}">
              <label class="item-edit draggable"> {{item.system.displayname}}</label>
            </div>
            {{/with}}
            {{#with header.culture as |item|}}
            <div class="headinfo single item" data-item-id="{{item._id}}" title="{{item.system.notes}}">
              <label class="item-edit draggable"> {{item.system.displayname}}</label>
            </div>
            {{/with}}
            {{#with header.profession as |item|}}
            <div class="headinfo single item" data-item-id="{{item._id}}" title="{{item.system.notes}}">
              <label class="item-edit draggable"> {{item.system.displayname}}</label>
            </div>
            {{/with}}
            {{#with header.level as |item|}}
            <div class="headinfo double item" data-item-id="{{item._id}}" title="{{item.system.notes}}">
              <label class="item-edit draggable">Lvl: </label>
              <input class="value iteminput" type="text" value="{{item.system.value}}" data-dtype="Number"
                data-name="system.formula" />
            </div>
            {{/with}}
            {{#with header.experience as |item|}}
            <div class="headinfo double item" data-item-id="{{item._id}}" title="{{item.system.notes}}">
              <label class="item-edit draggable">XP: </label>
              <input class="value iteminput" type="text" value="{{item.system.value}}" data-dtype="Number"
                data-name="system.formula" />
            </div>
            {{/with}}
          </div>
          <div class="midrow">
            {{#with header.encumbrance as |item|}}
            <div class="headinfo declaration item" data-item-id="{{item._id}}">
              <span class="item-edit draggable">{{item.system.label}}</span>
              <select class="value select iteminput" data-name="system.label">
                {{selectOptions item.system.entries selected=item.system.label valueAttr="label" labelAttr="label"
                localize=false}}
              </select>
            </div>
            {{/with}}
            {{#with header.move.mode as |item|}}
            <div class="headinfo move item" data-item-id="{{item._id}}">
              <span class="item-edit draggable">{{item.system.label}}</span>
              <select class="value select iteminput" data-name="system.label">
                {{selectOptions item.system.entries selected=item.system.label valueAttr="label" labelAttr="label"
                localize=false}}
              </select>
            </div>
            {{/with}}
            {{#with header.move.rate as |item|}}
            <div class="headinfo move item" data-item-id="{{item._id}}">
              <span class="item-edit draggable">{{item.system.label}}: {{item.system.value}}</span>
              <select class="value select iteminput" data-name="system.label">
                {{selectOptions item.system.entries selected=item.system.label valueAttr="label" labelAttr="label"
                localize=false}}
              </select>
            </div>
            {{/with}}
            {{#with header.hitpoints as |item|}}
            <div class="headinfo triple item" data-item-id="{{item._id}}">
              {{item.system.abbr}}
              :<input class="value iteminput pool" type="text" value="{{item.system.value}}" data-dtype="Number"
                data-name="system.value" data-abbr="{{item.system.abbr}}" />
              <span>/{{item.system.max}}</span>
            </div>
            {{/with}}
            {{#with header.woundsbleed as |item|}}
            <div class="headinfo double">
              <label>Bleed: </label>
              <label>{{item.value}}/rd</label>
            </div>
            {{/with}}
          </div>
          <div class="bottomrow">
            {{#with header.defence.armourType as |item|}}
            <div class="headinfo double item" data-item-id="{{item._id}}" title="{{item.system.notes}}">
              <label class="item-edit draggable">AT: </label>
              <input class="value iteminput" type="text" value="{{item.system.value}}" data-dtype="Number"
                data-name="system.formula" />
            </div>
            {{/with}}
            {{#with header.defence.parry as |item|}}
            <div class="headinfo double item" data-item-id="{{item._id}}" title="{{item.system.notes}}">
              <label class="item-edit draggable">{{item.name}}: </label>
              <input class="value iteminput" type="text" value="{{item.system.value}}" data-dtype="Number"
                data-name="system.formula" />
            </div>
            {{/with}}
            {{#with header.defence.edb as |item|}}
            <div class="headinfo double item" data-item-id="{{item._id}}" title="{{item.system.notes}}">
              <label class="item-edit draggable">{{item.name}}: </label>
              <input class="value iteminput" type="text" value="{{item.system.value}}" data-dtype="Number"
                data-name="system.formula" />
            </div>
            {{/with}}
            {{#with header.defence.meleeDB as |item|}}
            <div class="headinfo triple item" data-item-id="{{item._id}}" title="{{item.system.notes}}">
              <label class="item-edit draggable">MeDB: </label>
              <input class="value iteminput" type="text" value="{{item.system.value}}" data-dtype="Number"
                data-name="system.formula" />
              [{{item.system.shield}}]
            </div>
            {{/with}}
            {{#with header.defence.missileDB as |item|}}
            <div class="headinfo triple item" data-item-id="{{item._id}}" title="{{item.system.notes}}">
              <label class="item-edit draggable">MiDB: </label>
              <input class="value iteminput" type="text" value="{{item.system.value}}" data-dtype="Number"
                data-name="system.formula" /> [{{item.system.shield}}]
            </div>
            {{/with}}
            {{#with header.woundspen as |item|}}
            <div class="headinfo double">
              <label>Pen: </label>
              <label>{{item.value}}%</label>
            </div>
            {{/with}}
            <div class="headinfo single" title="Admin Mode">
              <input class="valuefull" type="checkbox" name="system.adminMode" {{checked ../system.adminMode}}
                data-dtype="Boolean" />
            </div>
          </div>
          {{/with}}
        </div>
      </div>

      {{!-- Sheet Tab Navigation --}}
      <nav class="sheet-nav tabs" data-group="primary">
        <a class="tabtitle" data-tab="main">{{localize "local.tabs.main"}}</a>
        <a class="tabtitle" data-tab="skills">{{localize "local.tabs.combo"}}</a>
        <a class="tabtitle" data-tab="values">{{localize "local.tabs.values"}}</a>
        <a class="tabtitle" data-tab="combat">{{localize "local.tabs.combat"}}</a>
        {{#if system.adminMode}}
        <a class="tabtitle" data-tab="items">{{localize "local.tabs.items"}}</a>
        <a class="tabtitle" data-tab="scripts">{{localize "local.tabs.scripts.title"}}</a>
        {{/if}}
      </nav>
    </header>
    <hr>

    {{!-- Sheet Body --}}
    <section id="tabs" class="sheet-body">

      {{!-- Main Tab --}}
      <div class="tab main" data-tab="main" data-group="primary">

        <div class="section">
          <div class="sectionheader collapsible  {{#if (eq system.sections.notes 'none')}}collapsed{{/if}}"
            data-section="notes">
            <label>{{localize "local.sections.notes"}}</label>
          </div>
          <div class="content" style="display: {{system.sections.notes}}">
            <div class="nospan biography">
              <textarea rows="18" name="system.notes">{{{system.notes}}}</textarea>
            </div>
            <div class="nospan biography">
              {{editor system.biography target="system.biography" engine="prosemirror" button=true owner=owner
              editable=editable}}
            </div>
          </div>
        </div>
        <hr>
        <div class="section">
          <div class="sectionheader collapsible  {{#if (eq system.sections.traits 'none')}}collapsed{{/if}}"
            data-section="traits">
            <label>{{localize "local.sections.traits"}}</label>
          </div>
          <div class="content" style="display: {{system.sections.traits}}">
            {{#each system.traitsdisplay as |group|}}
            <div class="nospan item-list">
              <div class="header">
                <label>{{group.name}}</label>
              </div>
              {{#each group.items as |item|}}
              <div class="item notes {{item.system.group}}" data-item-id={{item._id}} title="{{item.system.notes}}">
                <label class="item-edit draggable"><b>{{item.name}}:</b> {{item.system.notes}}</label>
                <a class="rollable" data-name="{{item.name}}" data-roll="{{item.system.notes}}" data-type="tochat"> <i
                    class="fas fa-comment"></i> </a>
              </div>
              {{/each}}
            </div>
            {{/each}}
          </div>
        </div>
        <hr>
        <div class="section">
          <div class="sectionheader collapsible  {{#if (eq system.sections.equipment 'none')}}collapsed{{/if}}"
            data-section="equipment">
            <label>{{localize "local.sections.equipment"}}</label>
          </div>
          <div class="content" style="display: {{system.sections.equipment}}">
            <div class="twospan item-list">
              {{#each system.equipment as |item|}}
              <div class="item notes {{item.system.group}}" data-item-id={{item._id}}>
                <label class="item-edit draggable"><b>{{item.name}}:</b> {{item.system.notes}}</label>
                <a class="rollable" data-name="{{item.name}}" data-roll="{{item.system.notes}}" data-type="tochat"> <i
                    class="fas fa-comment"></i> </a>
              </div>
              {{/each}}
            </div>
          </div>
        </div>

      </div>

      {{!-- Skills Tab --}}
      <div class="tab skills" data-tab="skills" data-group="primary">

        <div class="section">
          <div class="sectionheader collapsible" data-section="spells">
            <label>{{localize "local.sections.d100.primaryattributes"}}</label>
          </div>
          <div class="content" style="display: {{system.sections.spells}}">

            <!-- STATS -->
            <div class="twospan item-list">
              {{#each system.primaryattributes as |item|}}
              <div class="item statentry {{item.system.group}}" data-item-id="{{item._id}}"
                title="{{item.system.notes}}">
                <label class="item-edit draggable">{{item.name}} [{{item.system.abbr}}]</label>
                <label>{{item.system.value}} [{{numberFormat item.system.moddedvalue decimals=0 sign=true}}]</label>
                <a class="rollable" data-item-id="{{item._id}}" data-name="{{item.name}}"
                  data-roll="{{item.system.value}}" data-type="stat"> <i class="fas fa-dice-d20"></i> </a>
              </div>
              {{/each}}
            </div>

            <!-- STAT MODS -->
            {{> "systems/grpga/templates/partials/modifiers.hbs" data=system.primods size="threespan"}}

          </div>
        </div>
        <hr>

        <div class="section">
          <div class="sectionheader collapsible" data-section="skills">
            <label>{{localize "local.sections.d100.rollables"}}</label>
          </div>
          <div class="content" style="display: {{system.sections.skills}}">

            <!-- SKILLS -->
            <div class="threespan item-list">
              <div class="header">
                <label>{{localize "local.sections.d100.skills"}}</label>
              </div>
              {{#each system.skills as |item|}}
              <div class="item entry {{item.system.group}}" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="item-edit draggable" data-item-id="{{item._id}}"> {{item.name}} </label>
                <label class="rollable" data-item-id="{{item._id}}" data-name="{{item.name}}"
                  data-roll="{{item.system.value}}" data-modtype="{{item.system.category}}"
                  data-type="modlist">[{{item.system.moddedvalue}}]</label>
                <a class="rollable" data-item-id="{{item._id}}" data-name="{{item.name}}"
                  data-roll="{{item.system.value}}" data-rollType="oe" data-type="{{item.system.category}}"> <i
                    class="fas fa-dice-d20"></i> </a>
              </div>
              {{/each}}
            </div>

            <!-- SKILL MODIFIERS -->
            {{> "systems/grpga/templates/partials/modifiers.hbs" data=system.skillmods size="threespan"}}

            <!-- SPELLS - SPELL LORE ROLLS -->
            <div class="threespan item-list">
              <div class="header">
                <label>{{localize "local.sections.d100.spells"}}</label>
              </div>
              {{#each system.spells as |item|}}
              <div class="item entry {{item.system.group}}" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="item-edit draggable" data-item-id="{{item._id}}"> {{item.name}} </label>
                <label class="rollable" data-item-id="{{item._id}}" data-name="{{item.name}}"
                  data-roll="{{item.system.value}}" data-modtype="{{item.system.category}}"
                  data-type="modlist">[{{item.system.moddedvalue}}]</label>
                <a class="rollable" data-item-id="{{item._id}}" data-name="{{item.name}}"
                  data-roll="{{item.system.value}}" data-rollType="oe" data-type="{{item.system.category}}"> <i
                    class="fas fa-dice-d20"></i> </a>
              </div>
              {{/each}}
            </div>

            <!-- SPELL MODIFIERS -->
            {{> "systems/grpga/templates/partials/modifiers.hbs" data=system.spellmods size="threespan"}}

            <!-- SKILL VARIABLES -->
            <div class="fourspan item-list">
              {{> "systems/grpga/templates/partials/gmod.hbs" data=system}}
              {{#each system.skillVariables as |item|}}
              {{#if (eq item.type "Variable")}}
              <div class="item variable" title="{{item.system.notes}}" data-item-id="{{item._id}}">
                <label class="variablename draggable item-edit">{{item.name}}</label>
                <select class="select iteminput" data-name="system.label">
                  {{selectOptions item.system.entries selected=item.system.label valueAttr="label" labelAttr="label"
                  localize=false}}
                </select>
                <label class="value"></label>
              </div>
              {{else}}
              <div class="item poolstyle" title="{{item.system.notes}}" data-item-id="{{item._id}}">
                <label class="poolname item-edit draggable">{{item.name}} {{item.system.state}}:</label>
                <input class="value iteminput pool" type="text" value="{{item.system.value}}" data-dtype="Number"
                  data-name="system.value" data-abbr="{{item.system.abbr}}" />
                <span>/{{item.system.max}}</span>
              </div>
              {{/if}}
              {{/each}}
            </div>

          </div>
        </div>
      </div>

      {{!-- Values and Checks Tab --}}
      <div class="tab values" data-tab="values" data-group="primary">

        <div class="section">
          <div class="content" style="display: block">

            <!-- SKILL GROUPS and CATEGORIES -->
            <div class="threespan item-list">
              <div class="header">
                <label>{{localize "local.sections.d100.checks"}}</label>
              </div>
              {{#each system.checks as |item|}}
              <div class="item entry {{item.system.group}}" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="item-edit draggable" data-item-id="{{item._id}}"> {{item.name}} </label>
                <label class="rollable" data-item-id="{{item._id}}" data-name="{{item.name}}"
                  data-roll="{{item.system.value}}" data-modtype="{{item.system.category}}"
                  data-type="modlist">[{{item.system.moddedvalue}}]</label>
                <label></label>
              </div>
              {{/each}}
            </div>
            {{> "systems/grpga/templates/partials/modifiers.hbs" data=system.checkmods size="threespan"}}
            {{> "systems/grpga/templates/partials/modifiers.hbs" data=system.reactionmods size="threespan"}}

            <!-- TECHNIQUES - VALUES TO SHARE -->
            <div class="threespan item-list">
              <div class="header">
                <label>{{localize "local.sections.d100.techniques"}}</label>
              </div>
              {{#each system.techniques as |item|}}
              <div class="item entry {{item.system.group}}" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="item-edit draggable" data-item-id="{{item._id}}"> {{item.name}} </label>
                <label class="rollable" data-item-id="{{item._id}}" data-name="{{item.name}}"
                  data-roll="{{item.system.value}}" data-modtype="{{item.system.category}}"
                  data-type="modlist">[{{item.system.moddedvalue}}]</label>
                <a class="rollable" data-item-id="{{item._id}}" data-name="{{item.name}}"
                  data-roll="{{item.system.value}}" data-type="{{item.system.category}}"> <i class="fas fa-comment"></i>
                </a>
              </div>
              {{/each}}
            </div>

            <!-- RMS - REFERENCE VALUES - NOT TO BE MODIFIED -->
            <div class="threespan item-list">
              <div class="header">
                <label>{{localize "local.sections.d100.rms"}}</label>
              </div>
              {{#each system.rms as |item|}}
              <div class="item entry {{item.system.group}}" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="item-edit draggable" data-item-id="{{item._id}}"> {{item.name}} </label>
                <label>{{item.system.moddedvalue}}</label>
                <label></label>
              </div>
              {{/each}}
            </div>

            <!-- SPELL VARIABLES -->
            <div class="fourspan item-list">
              {{#each system.spellVariables as |item|}}
              {{#if (eq item.type "Variable")}}
              <div class="item variable" title="{{item.system.notes}}" data-item-id="{{item._id}}">
                <label class="variablename draggable item-edit">{{item.name}}</label>
                <select class="select iteminput" data-name="system.label">
                  {{selectOptions item.system.entries selected=item.system.label valueAttr="label" labelAttr="label"
                  localize=false}}
                </select>
                <label class="value"></label>
              </div>
              {{else}}
              <div class="item poolstyle" title="{{item.system.notes}}" data-item-id="{{item._id}}">
                <label class="poolname item-edit draggable">{{item.name}} {{item.system.state}}:</label>
                <input class="value iteminput pool" type="text" value="{{item.system.value}}" data-dtype="Number"
                  data-name="system.value" data-abbr="{{item.system.abbr}}" />
                <span>/{{item.system.max}}</span>
              </div>
              {{/if}}
              {{/each}}
            </div>
          </div>
        </div>

      </div>

      {{!-- Combat Tab --}}
      <div class="tab combat" data-tab="combat" data-group="primary">

        <div class="section">
          <div class="sectionheader collapsible" data-section="attacks">
            <label>{{localize "local.sections.attacks"}}</label>
          </div>
          <div class="content" style="display: {{system.sections.attacks}}">

            <div class="twospan item-list">
              {{#each system.attacks as |item|}}
              <div class="item attackentry {{item.system.group}}" data-item-id="{{item._id}}"
                title="{{item.system.notes}}">
                <label class="open-journal draggable" data-table="{{item.system.damage}}">{{item.name}}</label>
                <label class="rollable" data-item-id="{{item._id}}" data-name="{{item.name}}"
                  data-roll="{{item.system.value}}" data-modtype="attack"
                  data-type="modlist">[{{item.system.moddedvalue}}]</label>
                <a class="rollable" data-item-id="{{item._id}}" data-name="{{item.name}}"
                  data-roll="{{item.system.value}}" data-type="attack"><i class="fas fa-dice-d20"></i></a>
              </div>
              {{/each}}
            </div>

            {{> "systems/grpga/templates/partials/modifiers.hbs" data=system.attackdamagemods size="threespan"}}

            <div class="fourspan item-list">
              {{#each system.attackVariables as |item|}}
              {{#if (eq item.type "Variable")}}
              <div class="item variable" title="{{item.system.notes}}" data-item-id="{{item._id}}">
                <label class="variablename draggable item-edit">{{item.name}}</label>
                <select class="select iteminput" data-name="system.label">
                  {{selectOptions item.system.entries selected=item.system.label valueAttr="label" labelAttr="label"
                  localize=false}}
                </select>
                <label class="value"></label>
              </div>
              {{else}}
              <div class="item poolstyle" title="{{item.system.notes}}" data-item-id="{{item._id}}">
                <label class="poolname item-edit draggable">{{item.name}} {{item.system.state}}:</label>
                <input class="value iteminput pool" type="text" value="{{item.system.value}}" data-dtype="Number"
                  data-name="system.value" data-abbr="{{item.system.abbr}}" />
                <span>/{{item.system.max}}</span>
              </div>
              {{/if}}
              {{/each}}
            </div>

            {{!-- WOUNDS --}}
            {{#if system.hitLocations}}
            <div class="twospan item-list">
              <div class="header">
                <label>{{localize "local.sections.d100.hitLocations"}}</label>
              </div>
              {{#each system.hitLocations as |item|}}
              <div class="item wound {{item.system.group}}" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="item-edit draggable">{{item.name}}</label>
                <label class="bleed">Bld: {{item.system.damageResistance}}/rd</label>
                <label class="actionpen">{{numberFormat item.system.damage decimals=0 sign=true}} to act</label>
              </div>
              {{/each}}
            </div>
            {{/if}}

          </div>
        </div>
        <hr>

        <div class="section">
          <div class="sectionheader collapsible" data-section="defences">
            <label>{{localize "local.sections.d100.defences"}}</label>
          </div>
          <div class="content" style="display: {{system.sections.defences}}">

            <div class="threespan item-list">
              <div class="header">
                <label>{{localize "local.sections.d100.dodges"}}</label>
              </div>
              {{#each system.dodges as |item|}}
              <div class="item entry {{item.system.group}}" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="item-edit draggable" data-item-id="{{item._id}}"> {{item.name}} </label>
                <label class="rollable" data-item-id="{{item._id}}" data-name="{{item.name}}"
                  data-roll="{{item.system.value}}" data-modtype="defence"
                  data-type="modlist">[{{item.system.moddedvalue}}]</label>
                <a class="rollable" data-item-id="{{item._id}}" data-name="{{item.name}}"
                  data-roll="{{item.system.value}}" data-rollType="std" data-type="{{item.system.category}}"> <i
                    class="fas fa-dice-d20"></i> </a>
              </div>
              {{/each}}
            </div>

            <div class="threespan item-list">
              <div class="header">
                <label>{{localize "local.sections.d100.parrys"}}</label>
              </div>
              {{#each system.parrys as |item|}}
              <div class="item entry {{item.system.group}}" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="item-edit draggable" data-item-id="{{item._id}}"> {{item.name}} </label>
                <label class="rollable" data-item-id="{{item._id}}" data-name="{{item.name}}"
                  data-roll="{{item.system.value}}" data-modtype="defence"
                  data-type="modlist">[{{item.system.moddedvalue}}]</label>
                <a class="rollable" data-item-id="{{item._id}}" data-name="{{item.name}}"
                  data-roll="{{item.system.value}}" data-rollType="oeh" data-type="{{item.system.category}}"> <i
                    class="fas fa-dice-d20"></i> </a>
              </div>
              {{/each}}
            </div>

            <div class="threespan item-list">
              <div class="header">
                <label>{{localize "local.sections.d100.blocks"}}</label>
              </div>
              {{#each system.blocks as |item|}}
              <div class="item entry {{item.system.group}}" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="item-edit draggable" data-item-id="{{item._id}}"> {{item.name}} </label>
                <label class="rollable" data-item-id="{{item._id}}" data-name="{{item.name}}"
                  data-roll="{{item.system.value}}" data-modtype="defence"
                  data-type="modlist">[{{item.system.moddedvalue}}]</label>
                <a class="rollable" data-item-id="{{item._id}}" data-name="{{item.name}}"
                  data-roll="{{item.system.value}}" data-rollType="oe" data-type="{{item.system.category}}"> <i
                    class="fas fa-dice-d20"></i> </a>
              </div>
              {{/each}}
            </div>

            {{> "systems/grpga/templates/partials/modifiers.hbs" data=system.defencemods size="threespan"}}

            <div class="fourspan item-list">
              {{> "systems/grpga/templates/partials/gmod.hbs" data=system}}
              {{#each system.defenceVariables as |item|}}
              {{#if (eq item.type "Variable")}}
              <div class="item variable" title="{{item.system.notes}}" data-item-id="{{item._id}}">
                <label class="variablename draggable item-edit">{{item.name}}</label>
                <select class="select iteminput" data-name="system.label">
                  {{selectOptions item.system.entries selected=item.system.label valueAttr="label" labelAttr="label"
                  localize=false}}
                </select>
                <label class="value"></label>
              </div>
              {{else}}
              <div class="item poolstyle" title="{{item.system.notes}}" data-item-id="{{item._id}}">
                <label class="poolname item-edit draggable">{{item.name}} {{item.system.state}}:</label>
                <input class="value iteminput pool" type="text" value="{{item.system.value}}" data-dtype="Number"
                  data-name="system.value" data-abbr="{{item.system.abbr}}" />
                <span>/{{item.system.max}}</span>
              </div>
              {{/if}}
              {{/each}}
            </div>
          </div>
        </div>

      </div>

      {{!-- Owned Items Tab --}}
      <div class="tab items" data-tab="items" data-group="primary">

        {{!-- ITEM CREATION --}}
        <div class="section">
          <div class="content" style="display: block">
            <div class="threespan item-list">
              <div class="header">
                <label>{{localize "local.sections.itemcreation"}}</label>
              </div>
              {{#each system.allitemstemp as |item|}}
              <div class="entry {{#if item.filtered}}inEffect{{/if}}">
                <label class="filter" data-type='{{item.name}}'>{{item.localname}}</label>
                <span></span>
                <a class="item-create" data-type='{{item.name}}'><i class="fas fa-plus"></i></a>
              </div>
              {{/each}}
            </div>

          </div>
        </div>
        <hr>
        <div class="section">
          <div class="sectionheader">
            <label>{{localize "local.sections.itemlist"}}</label>
          </div>
          <div class="content" style="display: block">
            <div class="nospan owneditems item-list">
              {{#each filtereditems as |item|}}

              {{#if (eq item.type "Primary-Attribute")}}
              <div class="item owneditem ability" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="name draggable item-edit">{{item.name}}</label>
                <label class="type">{{item.type}}</label>
                <input class="value iteminput" type="text" data-dtype="String" data-name="system.group"
                  value="{{item.system.group}}" />
                <label class="value">{{item.system.attr}}</label>
              </div>
              {{else if (eq item.type "Modifier")}}
              <div class="item owneditem mod{{#if item.system.inEffect}} inEffect{{/if}}" data-item-id="{{item._id}}"
                title="{{item.system.notes}}">
                <label class="name draggable item-edit">{{item.name}}</label>
                <label class="type item-toggle">{{item.type}}</label>
                <input class="value iteminput" type="text" data-dtype="String" data-name="system.group"
                  value="{{item.system.group}}" />
                <div class="check" data-item-id="{{item._id}}">
                  <input class="value iteminput" type="checkbox" {{checked item.system.condition}} data-dtype="Boolean"
                    data-name="system.condition" />
                  <span> Cond</span>
                </div>
                {{#unless (or item.system.once item.system.temporary)}}
                <div class="check" data-item-id="{{item._id}}">
                  <input class="value iteminput" type="checkbox" {{checked item.system.alwaysOn}} data-dtype="Boolean"
                    data-name="system.alwaysOn" />
                  <span> Perm</span>
                </div>
                {{/unless}}
                {{#unless (or item.system.alwaysOn item.system.once)}}
                <div class="check" data-item-id="{{item._id}}">
                  <input class="value iteminput" type="checkbox" {{checked item.system.temporary}} data-dtype="Boolean"
                    data-name="system.temporary" />
                  <span> Temp</span>
                </div>
                {{/unless}}
                {{#unless (or item.system.alwaysOn item.system.temporary)}}
                <div class="check" data-item-id="{{item._id}}">
                  <input class="value iteminput" type="checkbox" {{checked item.system.once}} data-dtype="Boolean"
                    data-name="system.once" />
                  <span> Once</span>
                </div>
                {{/unless}}
              </div>
              {{else if (eq item.type "Variable")}}
              <div class="item owneditem var" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="name draggable item-edit">{{item.name}}</label>
                <label class="type">{{item.type}}</label>
                <input class="value iteminput" type="text" data-dtype="String" data-name="system.group"
                  value="{{item.system.group}}" />
                <select class="value select iteminput" data-name="system.label">
                  {{selectOptions item.system.entries selected=item.system.label valueAttr="label" labelAttr="label"
                  localize=false}}
                </select>
                {{#unless item.system.once}}
                <div class="check" data-item-id="{{item._id}}">
                  <input class="value iteminput" type="checkbox" {{checked item.system.temporary}} data-dtype="Boolean"
                    data-name="system.temporary" />
                  <span> Temp</span>
                </div>
                {{/unless}}
                {{#unless item.system.temporary}}
                <div class="check" data-item-id="{{item._id}}">
                  <input class="value iteminput" type="checkbox" {{checked item.system.once}} data-dtype="Boolean"
                    data-name="system.once" />
                  <span> Once</span>
                </div>
                {{/unless}}
              </div>
              {{else if (eq item.type "Trait")}}
              <div class="item owneditem trt" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="name draggable item-edit">{{item.name}}</label>
                <label class="type">{{item.type}} ({{item.system.category}})</label>
                <input class="value iteminput" type="text" data-dtype="String" data-name="system.group"
                  value="{{item.system.group}}" />
                <label class="snippet">{{item.system.notes}}</label>
              </div>
              {{else if (eq item.type "Pool")}}
              <div class="item owneditem pool" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="name draggable item-edit">{{item.name}}</label>
                <label class="type">{{item.type}}</label>
                <input class="value iteminput" type="text" data-dtype="String" data-name="system.group"
                  value="{{item.system.group}}" />
                <input class="value iteminput" type="text" data-dtype="String" data-name="system.minForm"
                  value="{{item.system.minForm}}" />
                <input class="value iteminput" type="number" data-dtype="Number" data-name="system.value"
                  value="{{item.system.value}}" />
                <input class="value iteminput" type="text" data-dtype="String" data-name="system.maxForm"
                  value="{{item.system.maxForm}}" />
              </div>
              {{else if (or (eq item.type "Melee-Attack")(eq item.type "Ranged-Attack"))}}
              <div class="item owneditem attack" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="name draggable item-edit">{{item.name}}</label>
                <label class="type">{{item.type}}</label>
                <input class="value iteminput" type="text" data-dtype="String" data-name="system.group"
                  value="{{item.system.group}}" />
                <label class="value">{{item.system.formula}}</label>
              </div>
              {{else if (eq item.type "Rollable")}}
              <div class="item owneditem roll" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="name draggable item-edit">{{item.name}}</label>
                <label class="type">{{item.type}} ({{item.system.category}})</label>
                <input class="value iteminput" type="text" data-dtype="String" data-name="system.group"
                  value="{{item.system.group}}" />
                <label class="value">{{item.system.formula}}</label>
              </div>
              {{else if item.system.formula}}
              <div class="item owneditem" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="name draggable item-edit">{{item.name}}</label>
                <label class="type">{{item.type}}</label>
                <input class="value iteminput" type="text" data-dtype="String" data-name="system.group"
                  value="{{item.system.group}}" />
                <label class="value">{{item.system.formula}}</label>
              </div>
              {{else}} {{! Everything else }}
              <div class="item owneditem" data-item-id="{{item._id}}" title="{{item.system.notes}}">
                <label class="name draggable item-edit">{{item.name}}</label>
                <label class="type">{{item.type}}</label>
                <input class="value iteminput" type="text" data-dtype="String" data-name="system.group"
                  value="{{item.system.group}}" />
                <label class="value">{{item.system.value}}</label>
              </div>
              {{/if}}
              {{/each}}
            </div>
          </div>
        </div>
      </div>

      {{!-- Script Engine Tab --}}
      <div class="tab scripts" data-tab="scripts" data-group="primary">
        <div id="baseitems">
          <div class="item-controls">
            <div>
              <a class="item-control item-create" title="{{localize 'local.tabs.scripts.createT'}}">
                <i class="fas fa-plus"></i> {{localize "local.tabs.scripts.create"}}
              </a>
            </div>
            <div>
              <a class="item-control item-export" title="{{localize 'local.tabs.scripts.exportT'}}">
                <i class="fas fa-minus"></i> {{localize "local.tabs.scripts.export"}}
              </a>
            </div>
            <div>
              <a class="item-control importJSON" title="Import JSON object for inspection in the console">
                <i class="fas fa-plus"></i> Import JSON data for inspection in the console
              </a>
            </div>
            {{#if false}}
            <div>
              <a class="item-control importRM" title="Import stat block in Rolemaster Family format">
                <i class="fas fa-plus"></i> Import RM Format
              </a>
            </div>
            {{/if}}
          </div>
          <textarea rows="24" name="system.itemscript">{{{actor.system.itemscript}}}</textarea>
        </div>

      </div>
    </section>
  </div>
  <script>
    $("input").focusin(function () {
      $(this).select();
    });
  </script>
</form>