
<div class="attack-content">
  <div class="roundedcard">{{{flavor}}}</div>
  <div class="detail-title roundedcard {{result.outcome.name}}">{{result.outcome.name}} Result: {{result.outcome.outcome}}</div>
  <div class="roundedcard">
    {{#if result.white.to}}
    <div class="detail-title roundedcard {{result.white.name}}">To White: +{{result.white.to}} Karma for {{result.white.outcome}}</div>
    {{/if}}
    {{#if result.green.to}}
    <div class="detail-title roundedcard {{result.green.name}}">To Green: +{{result.green.to}} Karma for {{result.green.outcome}}</div>
    {{/if}}
    {{#if result.yellow.to}}
    <div class="detail-title roundedcard {{result.yellow.name}}">To Yellow: +{{result.yellow.to}} Karma for {{result.yellow.outcome}}</div>
    {{/if}}
    {{#if result.red.to}}
    <div class="detail-title roundedcard {{result.red.name}}">To Red: +{{result.red.to}} Karma for {{result.red.outcome}}</div>
    {{else}}
    <div class="detail-title roundedcard {{result.yellow.name}}">To Yellow: +25 Karma for {{result.yellow.outcome}}</div>
    {{/if}}
  </div>
</div>
