{{debug "this:" this}}

<form class="{{cssClass}}" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="portrait" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'local.item.name'}}" />
  </header>
  <hr>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <div class="flexrow">
      <label class="resource-label">{{localize "local.item.Advantage.category"}}</label>
      <input type="text" name="system.category" value="{{item.system.category}}" data-dtype="String" />
    </div>
    <div class="flexrow">
      <label class="resource-label">{{localize "local.item.Advantage.ranks"}}</label>
      <input type="text" name="system.formula" value="{{item.system.formula}}" data-dtype="String" />
    </div>
    <div class="flexrow">
      <label class="resource-label">{{localize "local.item.Advantage.group"}}</label>
      <input type="text" name="system.group" value="{{item.system.group}}" data-dtype="String" />
    </div>
    <div class="flexrow">
      <label class="resource-label">{{localize "local.item.Advantage.ppcost"}}</label>
      <input type="number" name="system.ppcost" value="{{item.system.ppcost}}" data-dtype="Number" />
    </div>
    <hr>
    <h3>{{localize "local.item.notes"}}</h3>
    <div class="tab">
      {{#if (eq mode "mnm")}}
      <div class="biography">
        {{editor system.notes target="system.notes" button=true owner=owner editable=editable}}
      </div>
      {{else}}
      <textarea rows="18" name="system.notes">{{{system.notes}}}</textarea>
      {{/if}}
    </div>
    <script>
      $("input").focusin(function () {
        $(this).select();
      });
    </script>
  </section>
</form>