{{debug "this:" this}}

<form class="{{cssClass}}" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="portrait" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'local.item.name'}}" />
  </header>
  <hr>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <div class="flexrow">
      <label class="resource-label">{{localize "local.item.category"}}</label>
      <select name="system.category">
        {{#if (eq mode "d6")}}
        {{selectOptions config.selectOptions.defence_d6_category selected=item.system.category
        valueAttr="value" labelAttr="label" localize=true}}
        {{else}}
        {{selectOptions config.selectOptions.defence_category selected=item.system.category valueAttr="value"
        labelAttr="label" localize=true}}
        {{/if}}
      </select>
    </div>
    <div class="flexrow">
      <label class="resource-label">{{localize "local.item.formula"}}</label>
      <input type="text" name="system.formula" value="{{item.system.formula}}" data-dtype="String" {{#if (eq mode "vsd"
        )}}disabled{{/if}} />
    </div>
    {{#if (eq mode "3d6")}}
    <div class="flexrow">
      <label class="resource-label">{{localize "local.item.weight"}}</label>
      <input type="text" name="system.weight" value="{{item.system.weight}}" data-dtype="Number" />
    </div>
    {{/if}}
    <div class="flexrow">
      <label class="resource-label">Group</label>
      <input type="text" name="system.group" value="{{item.system.group}}" data-dtype="String" />
    </div>
    <hr>
    <h3>{{localize "local.item.notes"}}</h3>
    <div class="tab">
      {{#if (eq mode "mnm")}}
      <div class="biography">
        {{editor system.notes target="system.notes" button=true owner=owner editable=editable}}
      </div>
      {{else}}
      <textarea rows="18" name="system.notes">{{{system.notes}}}</textarea>
      {{/if}}
    </div>
    <script>
      $("input").focusin(function () {
        $(this).select();
      });
    </script>
  </section>
</form>