{{debug "this:" this}}

<form class="{{cssClass}}" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="portrait" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'local.item.name'}}" />
  </header>
  <hr>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{#if (eq mode "3d6")}}
    <div class="flexrow">
      <label class="resource-label">{{localize "local.item.Hit-Location.damageResistance"}}</label>
      <input type="text" name="system.damageResistance" value="{{item.system.damageResistance}}" data-dtype="Number" />
    </div>
    <div class="flexrow">
      <label class="resource-label">{{localize "local.item.Hit-Location.damage"}}</label>
      <input type="text" name="system.damage" value="{{item.system.damage}}" data-dtype="Number" />
    </div>
    <div class="flexrow">
      <label class="resource-label">{{localize "local.item.Hit-Location.3d6.injuryType"}}</label>
      <input type="text" name="system.injuryType" value="{{item.system.injuryType}}" data-dtype="String" />
    </div>
    <div class="flexrow">
      <label class="resource-label">{{localize "local.item.Hit-Location.toCripple"}}</label>
      <input type="text" name="system.toCripple" value="{{item.system.toCripple}}" data-dtype="String" />
    </div>
    <div class="flexrow">
      <label class="resource-label">{{localize "local.item.Hit-Location.crippled"}}</label>
      <input type="checkbox" name="system.crippled" {{checked item.system.crippled}} data-dtype="Boolean" />
    </div>
    <div class="flexrow">
      <label class="resource-label">{{localize "local.item.Hit-Location.toHitRoll18"}}</label>
      <input type="text" name="system.toHitRoll18" value="{{item.system.toHitRoll18}}" data-dtype="String" />
    </div>
    <div class="flexrow">
      <label class="resource-label">{{localize "local.item.Hit-Location.toHitRoll6"}}</label>
      <input type="text" name="system.toHitRoll6" value="{{item.system.toHitRoll6}}" data-dtype="String" />
    </div>
    <div class="flexrow">
      <label class="resource-label">{{localize "local.item.Hit-Location.toHitPenalty"}}</label>
      <input type="text" name="system.toHitPenalty" value="{{item.system.toHitPenalty}}" data-dtype="Number" />
    </div>
    {{else if (eq mode "d100")}}
    <div class="flexrow">
      <label class="resource-label">{{localize "local.item.Hit-Location.d100.bleeding"}}</label>
      <input type="text" name="system.damageResistance" value="{{item.system.damageResistance}}" data-dtype="Number" />
    </div>
    <div class="flexrow">
      <label class="resource-label">{{localize "local.item.Hit-Location.d100.penalty"}}</label>
      <input type="text" name="system.damage" value="{{item.system.damage}}" data-dtype="Number" />
    </div>
    <div class="flexrow">
      <label class="resource-label">{{localize "local.item.Hit-Location.d100.severity"}}</label>
      <select name="system.injuryType">
        {{selectOptions config.selectOptions.severity selected=item.system.injuryType
        valueAttr="value" labelAttr="label" localize=true}}
      </select>
    </div>
    <div class="flexrow">
      <label class="resource-label">{{localize "local.item.Hit-Location.d100.treatment"}}</label>
      <select name="system.toCripple">
        {{selectOptions config.selectOptions.treatment selected=item.system.toCripple
        valueAttr="value" labelAttr="label" localize=true}}
      </select>
    </div>
    <div class="flexrow">
      <label class="resource-label">{{localize "local.item.Hit-Location.d100.lingering"}}</label>
      <input type="checkbox" name="system.crippled" {{checked item.system.crippled}} data-dtype="Boolean" />
    </div>
    <div class="flexrow">
      <label class="resource-label">{{localize "local.item.Hit-Location.d100.dlth"}}</label>
      <input type="text" name="system.toHitPenalty" value="{{item.system.toHitPenalty}}" data-dtype="Number" />
    </div>
    {{else}}
    <div class="flexrow">
      <label class="resource-label">{{localize "local.item.Hit-Location.damage"}}</label>
      <input type="text" name="system.damage" value="{{item.system.damage}}" data-dtype="Number" />
    </div>
    <div class="flexrow">
      <label class="resource-label">{{localize "local.item.Hit-Location.d120.injuryType"}}</label>
      <input type="text" name="system.injuryType" value="{{item.system.injuryType}}" data-dtype="String" />
    </div>
    <div class="flexrow">
      <label class="resource-label">{{localize "local.item.Hit-Location.toCripple"}}</label>
      <input type="text" name="system.toCripple" value="{{item.system.toCripple}}" data-dtype="String" />
    </div>
    <div class="flexrow">
      <label class="resource-label">{{localize "local.item.Hit-Location.crippled"}}</label>
      <input type="checkbox" name="system.crippled" {{checked item.system.crippled}} data-dtype="Boolean" />
    </div>
    <div class="flexrow">
      <label class="resource-label">{{localize "local.item.Hit-Location.toHitPenalty"}}</label>
      <input type="text" name="system.toHitPenalty" value="{{item.system.toHitPenalty}}" data-dtype="Number" />
    </div>
    {{/if}}
    <div class="flexrow">
      <label class="resource-label">Group</label>
      <input type="text" name="system.group" value="{{item.system.group}}" data-dtype="String" />
    </div>
    <hr>
    <h3>{{localize "local.item.notes"}}</h3>
    <div class="tab">
      {{#if (eq mode "mnm")}}
      <div class="biography">
        {{editor system.notes target="system.notes" button=true owner=owner editable=editable}}
      </div>
      {{else}}
      <textarea rows="18" name="system.notes">{{{system.notes}}}</textarea>
      {{/if}}
    </div>
    <script>
      $("input").focusin(function () {
        $(this).select();
      });
    </script>
  </section>
</form>