{{debug "this:" this}}

<form class="{{cssClass}}" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="portrait" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'local.item.name'}}" />
  </header>
  <hr>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <div class="flexrow">
      <label class="resource-label">{{config.modeSpecificText.formula}}</label>
      <input type="text" name="system.formula" value="{{item.system.formula}}" data-dtype="String" />
    </div>
    {{#if (eq mode "d100")}}
    <div class="flexrow">
      <label class="resource-label">{{config.modeSpecificText.damage}}</label>
      <input type="text" name="system.damage" value="{{item.system.damage}}" data-dtype="String" />
    </div>
    <div class="flexrow">
      <label class="resource-label">{{config.modeSpecificText.damageType}}</label>
      <input type="text" name="system.damageType" value="{{item.system.damageType}}" data-dtype="String" />
    </div>
    <div class="flexrow">
      <label class="resource-label">{{config.modeSpecificText.armourDiv}}</label>
      <input type="text" name="system.armourDiv" value="{{item.system.armourDiv}}" data-dtype="Number" />
    </div>
    <div class="flexrow">
      <label class="resource-label">{{config.modeSpecificText.minST}}</label>
      <select name="system.minST">
        {{selectOptions config.selectOptions.rolltype selected=item.system.minST
        valueAttr="value" labelAttr="label" localize=true}}
      </select>
    </div>
    <div class="flexrow">
      <label class="resource-label">{{localize "local.item.Melee-Attack.d100.weight"}}</label>
      <input type="text" name="system.weight" value="{{item.system.weight}}" data-dtype="Number" />
    </div>
    {{else}}
    <div class="flexrow">
      <label class="resource-label">{{config.modeSpecificText.damage}}</label>
      <input type="text" name="system.damage" value="{{item.system.damage}}" data-dtype="String" />
    </div>
    <div class="flexrow">
      <label class="resource-label">{{config.modeSpecificText.damageType}}</label>
      <input type="text" name="system.damageType" value="{{item.system.damageType}}" data-dtype="String" />
    </div>
    <div class="flexrow">
      <label class="resource-label">{{config.modeSpecificText.armourDiv}}</label>
      <input type="text" name="system.armourDiv" value="{{item.system.armourDiv}}" data-dtype="Number" />
    </div>
    <div class="flexrow">
      <label class="resource-label">{{config.modeSpecificText.minST}}</label>
      <input type="text" name="system.minST" value="{{item.system.minST}}" data-dtype="String" />
    </div>
    <div class="flexrow">
      <label class="resource-label">{{localize "local.item.Melee-Attack.reach"}}</label>
      <input type="text" name="system.reach" value="{{item.system.reach}}" data-dtype="String" />
    </div>
    {{/if}}
    {{#if (eq mode "3d6")}}
    <div class="flexrow">
      <label class="resource-label">{{localize "local.item.weight"}}</label>
      <input type="text" name="system.weight" value="{{item.system.weight}}" data-dtype="Number" />
    </div>
    {{/if}}
    <div class="flexrow">
      <label class="resource-label">Group</label>
      <input type="text" name="system.group" value="{{item.system.group}}" data-dtype="String" />
    </div>
    <hr>
    <h3>{{localize "local.item.notes"}}</h3>
    <div class="tab">
      {{#if (eq mode "mnm")}}
      <div class="biography">
        {{editor system.notes target="system.notes" button=true owner=owner editable=editable}}
      </div>
      {{else}}
      <textarea rows="18" name="system.notes">{{{system.notes}}}</textarea>
      {{/if}}
    </div>
    <script>
      $("input").focusin(function () {
        $(this).select();
      });
    </script>
  </section>
</form>