{{debug "this:" this}}

<form class="{{cssClass}}" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="portrait" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'local.item.name'}}" />
  </header>
  <hr>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <div class="flexrow">
      <label class="resource-label">Standard Skill</label>
      <label class="resource-label">Ranks:</label>
      <input type="text" name="system.standard" value="{{item.system.standard}}" data-dtype="String" />
    </div>
    <div class="flexrow">
      <label class="resource-label">Combined Skill</label>
      <label class="resource-label">RanksComb:</label>
      <input type="text" name="system.combined" value="{{item.system.combined}}" data-dtype="String" />
    </div>
    <div class="flexrow">
      <label class="resource-label">Limited Skill</label>
      <label class="resource-label">RanksLim:</label>
      <input type="text" name="system.limited" value="{{item.system.limited}}" data-dtype="String" />
    </div>
    <div class="flexrow">
      <label class="resource-label">Body Development</label>
      <label class="resource-label">RanksSpec:</label>
      <input type="text" name="system.bodydev" value="{{item.system.bodydev}}" data-dtype="String" />
    </div>
    <div class="flexrow">
      <label class="resource-label">Power Point Development</label>
      <label class="resource-label">RanksSpec:</label>
      <input type="text" name="system.powerpointdev" value="{{item.system.powerpointdev}}" data-dtype="String" />
    </div>
    <div class="flexrow">
      <label class="resource-label">Skill Group/Category</label>
      <label class="resource-label">RanksGC:</label>
      <input type="text" name="system.skillcategory" value="{{item.system.skillcategory}}" data-dtype="String" />
    </div>
    <div class="flexrow">
      <label class="resource-label">Group</label>
      <input type="text" name="system.group" value="{{item.system.group}}" data-dtype="String" />
    </div>
    <hr>
    <h3>{{localize "local.item.notes"}}</h3>
    <div class="tab">
      {{#if (eq mode "mnm")}}
      <div class="biography">
        {{editor system.notes target="system.notes" button=true owner=owner editable=editable}}
      </div>
      {{else}}
      <textarea rows="18" name="system.notes">{{{system.notes}}}</textarea>
      {{/if}}
    </div>
    <script>
      $("input").focusin(function () {
        $(this).select();
      });
    </script>
  </section>
</form>