{{debug "this:" this}}

<form class="{{cssClass}}" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="portrait" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'local.item.name'}}" />
  </header>
  <hr>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <div class="flexrow">
      <label class="resource-label">{{localize "local.item.Hit-Location.d100.bleeding"}}</label>
      <input type="text" name="system.bleed" value="{{item.system.bleed}}" data-dtype="Number" />
    </div>
    <div class="flexrow">
      <label class="resource-label">{{localize "local.item.Hit-Location.d100.penalty"}}</label>
      <input type="text" name="system.penalty" value="{{item.system.penalty}}" data-dtype="Number" />
    </div>
    <div class="flexrow">
      <label class="resource-label">{{localize "local.item.Hit-Location.d100.severity"}}</label>
      <select name="system.severity">
        {{selectOptions config.selectOptions.severity selected=item.system.severity
        valueAttr="value" labelAttr="label" localize=true}}
      </select>
    </div>
    <div class="flexrow">
      <label class="resource-label">{{localize "local.item.Hit-Location.d100.treatment"}}</label>
      <select name="system.treatment">
        {{selectOptions config.selectOptions.treatment selected=item.system.treatment
        valueAttr="value" labelAttr="label" localize=true}}
      </select>
    </div>
    <div class="flexrow">
      <label class="resource-label">{{localize "local.item.Hit-Location.d100.lingering"}}</label>
      <input type="checkbox" name="system.lingering" {{checked item.system.lingering}} data-dtype="Boolean" />
    </div>
    <div class="flexrow">
      <label class="resource-label">{{localize "local.item.Hit-Location.d100.dlth"}}</label>
      <input type="text" name="system.dlth" value="{{item.system.dlth}}" data-dtype="Number" />
    </div>
    <div class="flexrow">
      <label class="resource-label">Group</label>
      <input type="text" name="system.group" value="{{item.system.group}}" data-dtype="String" />
    </div>
    <hr>
    <h3>{{localize "local.item.notes"}}</h3>
    <div class="tab">
      {{#if (eq mode "mnm")}}
      <div class="biography">
        {{editor system.notes target="system.notes" button=true owner=owner editable=editable}}
      </div>
      {{else}}
      <textarea rows="18" name="system.notes">{{{system.notes}}}</textarea>
      {{/if}}
    </div>
    <script>
      $("input").focusin(function () {
        $(this).select();
      });
    </script>
  </section>
</form>